iCoMoXFlow.json
[{"id":"91830877.d26b18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d4ab7732.3517c8","type":"mqtt in","z":"91830877.d26b18","name":"test-mqtt-in","topic":"in/#","qos":"2","datatype":"auto","broker":"d06c3515.0071e8","x":210,"y":240,"wires":[["4961d93a.d10698","8eadd70d.fdc248"]]},{"id":"4961d93a.d10698","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":160,"wires":[]},{"id":"26be2c8c.1431d4","type":"mqtt out","z":"91830877.d26b18","name":"","topic":"","qos":"","retain":"","broker":"d06c3515.0071e8","x":590,"y":240,"wires":[]},{"id":"8eadd70d.fdc248","type":"function","z":"91830877.d26b18","name":"iCoMox Parser","func":"msg.topic = \"out\"+ msg.topic.substr(2);\nmsg.payload[0]++;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["26be2c8c.1431d4","9274c23a.83b3f"]]},{"id":"9274c23a.83b3f","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"d06c3515.0071e8","type":"mqtt-broker","z":"","name":"Test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]