iCoMoXFlow.json
[{"id":"91830877.d26b18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d4ab7732.3517c8","type":"mqtt in","z":"91830877.d26b18","name":"iCoMoX-MQTT-In","topic":"iCOMOX/+/IN","qos":"2","datatype":"auto","broker":"d06c3515.0071e8","x":100,"y":240,"wires":[["1724f696.e6cad9","9274c23a.83b3f"]]},{"id":"4961d93a.d10698","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":60,"wires":[]},{"id":"8eadd70d.fdc248","type":"function","z":"91830877.d26b18","name":"iCoMox Temp Reformat","func":"//var comoxId = msg.topic.split('/')[1];\n\n//msg.topic =  comoxId + \"/Temp\";\n//msg.payload = {\n//    \"comoxId\" : msg.topic.split('/')[1],\n //   \"temp\" :(msg.payload[11]*256 + msg.payload[10]) / 128\n//}\n\nmsg.payload = {\n    \"device\": {\n        \"deviceId\":msg.topic.split('/')[1]\n    },\n    \"measurements\": {\n        \"Temp\": (msg.payload[11]*256 + msg.payload[10]) / 128\n    },   \n    \"properties\":{\n        \"asetting\": \"off\"\n    }\n}\n\n\n//msg.payload = {\"data\": {\"Temp\": temp}};\n//msg.payload.Temp =  temp;\n//msg.payload.data[msg.topic] = temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":240,"wires":[["9274c23a.83b3f","51c0a4da.4cb91c"]]},{"id":"9274c23a.83b3f","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"1724f696.e6cad9","type":"switch","z":"91830877.d26b18","name":"If Report message","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"0xFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":240,"wires":[["5294d330.f8967c"]]},{"id":"5294d330.f8967c","type":"switch","z":"91830877.d26b18","name":"If Temperature","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":240,"wires":[["8eadd70d.fdc248"]]},{"id":"1e657b43.d45975","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":120,"wires":[]},{"id":"51c0a4da.4cb91c","type":"azure-iotc-bridge","z":"91830877.d26b18","name":"","registrationHost":"global.azure-devices-provisioning.net","idScope":"0ne00074021","sasToken":"gTYIoPFs7raJpVV7LH1YtII9Iy1l7QPlByvQZG90x2dvVpO+367NPkXHyoPAgNmpspoqZGE/8mGA56bC0t81eA==","x":1030,"y":240,"wires":[["9274c23a.83b3f"]]},{"id":"d06c3515.0071e8","type":"mqtt-broker","z":"","name":"LocalHost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]