Examples/iCOMOX_IoT_Central.json
[{"id":"91830877.d26b18","type":"tab","label":"IoT Central Flow example","disabled":false,"info":""},{"id":"d4ab7732.3517c8","type":"mqtt in","z":"91830877.d26b18","name":"iCOMOX-MQTT-In","topic":"iCOMOX/+/IN","qos":"2","datatype":"auto","broker":"d06c3515.0071e8","x":110,"y":240,"wires":[["bfdefe32.7f318"]]},{"id":"8eadd70d.fdc248","type":"function","z":"91830877.d26b18","name":"iCOMOX Control","func":"\n//Check message\nswitch(msg.payload[\"Type\"]){\n    case \"Hello\": //Start iCOMOX on hello message\n        msg = {\"DeviceID\":msg.DeviceID , \"payload\":{\"Type\":\"SetConfig\", \"Data\":{\"Enable\":true,\"Temp\":true,\"ACC1\":true,\"ACC2\":true,\"MAG\":true,\"MIC\":true,\"Interval\":1, \"Repetition\":0}}};\n        break;\n    case \"SetConfig\": //Get configuration on SetConfig ack message\n        msg = {\"DeviceID\":msg.DeviceID , \"payload\":{\"Type\":\"GetConfig\"}};\n        break;\n    \n    default:\n        return null;\n}\n        \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":380,"wires":[["c8d603b5.7e4d7","df0de2c.4ca322"]]},{"id":"9274c23a.83b3f","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":140,"wires":[]},{"id":"51c0a4da.4cb91c","type":"azure-iotc-bridge","z":"91830877.d26b18","name":"","registrationHost":"global.azure-devices-provisioning.net","idScope":"","sasToken":"","x":1330,"y":200,"wires":[[]]},{"id":"49802a53.017af4","type":"function","z":"91830877.d26b18","name":"Stringify obj","func":"console.log(\"JSON:\" +JSON.stringify(msg));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":720,"wires":[[]]},{"id":"acc357e.7e479a8","type":"function","z":"91830877.d26b18","name":"IoT Central Commands","func":"","outputs":1,"noerr":0,"initialize":"\nfunction onSetConfig(request, response) {\n  deviceId = response._transport._authenticationProvider._credentials.deviceId;\n  //send( {\"payload\": request.payload, methodName:request.methodName, \"topic\":\"iCOMOX/\"+ deviceId + \"/OUT\" /*, \"response\":response*/});\n  //send( {\"payload\": request.payload, methodName:request.methodName, \"topic\":\"iCOMOX/\"+ deviceId + \"/OUT\" /*, \"response\":response*/});\n  send({\"payload\":{\"Type\":request.methodName, \"Data\":request.payload},  \"topic\":\"iCOMOX/\"+ deviceId + \"/OUT\"});\n  \n  response.send(200, data , (err) => {\n    if (err) {\n      console.log('Unable to send method response: ' + err.toString());\n    }\n    else {\n            console.log('Response to method \\'' + request.methodName + '\\' sent successfully... ' + data);\n    }\n  });\n  \n}\n\nflow.set('SetConfig',onSetConfig);\nconsole.log (\"Registered control commands\");\n","finalize":"","x":170,"y":620,"wires":[["49802a53.017af4","df0de2c.4ca322"]]},{"id":"a035bcb.eff064","type":"comment","z":"91830877.d26b18","name":"iCOMOX to Cloud","info":"","x":120,"y":180,"wires":[]},{"id":"b76a4b84.8caf88","type":"comment","z":"91830877.d26b18","name":"Cloud to iCOMOX","info":"","x":110,"y":440,"wires":[]},{"id":"db113206.13a65","type":"inject","z":"91830877.d26b18","name":"Init connection","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{}","payloadType":"json","x":120,"y":500,"wires":[["acc357e.7e479a8","4eb57dd.28b8284"]],"info":"Used to initialize the connection (One message)"},{"id":"2ea1ad0e.b72f12","type":"mqtt out","z":"91830877.d26b18","name":"iCOMOX-MQTT-Out","topic":"","qos":"","retain":"","broker":"d06c3515.0071e8","x":1280,"y":620,"wires":[]},{"id":"5008c1df.fa31a","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":540,"wires":[]},{"id":"4eb57dd.28b8284","type":"Azure IoT Central","z":"91830877.d26b18","scopeid":"","deviceid":"","primarykey":"","command1":"SetConfig","command2":"","command3":"","command4":"","command5":"","property1":"","property2":"","property3":"","property4":"","property5":"","transport":"mqtt","auth":"sas","certfile":"","certkeyfile":"","passwordi":"","x":370,"y":500,"wires":[["5008c1df.fa31a"]]},{"id":"b1d3cdb8.0771e","type":"switch","z":"91830877.d26b18","name":"Message Type","property":"payload[\"Type\"]","propertyType":"msg","rules":[{"t":"eq","v":"Hello","vt":"str"},{"t":"eq","v":"Reset","vt":"str"},{"t":"eq","v":"GetConfig","vt":"str"},{"t":"eq","v":"SetConfig","vt":"str"},{"t":"eq","v":"Report","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":640,"y":240,"wires":[["df24ad1d.0c5a2","8eadd70d.fdc248"],["8eadd70d.fdc248"],["8eadd70d.fdc248","9c78777c.26d488"],["8eadd70d.fdc248"],["60804988.f5f298"]],"inputLabels":["iCOMOX JSON in"],"outputLabels":["Hello","Reset","GetConfig","SetConfig","Report"]},{"id":"60804988.f5f298","type":"function","z":"91830877.d26b18","name":"iCOMOX-IoT Central Report Reformatter","func":"//Reports only\nif (msg.payload[\"Type\"] != \"Report\")\n    return null;\n\n\n//Function to return max,min and average of array\nvar arrCalc = context.get('ArrCalc');\n\n//Save payload\nvar payload = msg.payload;\n\n//New payload structure for IoTCentral\nmsg.payload =  {\n    \"device\": { \"deviceId\":msg.topic.split('/')[1] },\n    //\"properties\":{ \"asetting\": \"off\"},\n    \"measurements\":{}\n};\n\n//Check message\n//Message data\nvar data = payload[\"Data\"][payload[\"Data\"][\"ReportType\"]];\nvar res;\n\nswitch (payload[\"Data\"][\"ReportType\"]){\n    case \"Temp\":\n        msg.payload.measurements[\"Temp\"] = data;\n        break;\n    case \"ACC1\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"Acc1XMax\":res.X.max, \"Acc1XMin\":res.X.min, \"Acc1XAvg\":res.X.avg,\n            \"Acc1YMax\":res.Y.max, \"Acc1YMin\":res.Y.min, \"Acc1YAvg\":res.Y.avg,\n            \"Acc1ZMax\":res.Z.max, \"Acc1ZMin\":res.Z.min, \"Acc1ZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"ACC2\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"Acc2XMax\":res.X.max, \"Acc2XMin\":res.X.min, \"Acc2XAvg\":res.X.avg,\n            \"Acc2YMax\":res.Y.max, \"Acc2YMin\":res.Y.min, \"Acc2YAvg\":res.Y.avg,\n            \"Acc2ZMax\":res.Z.max, \"Acc2ZMin\":res.Z.min, \"Acc2ZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"MAG\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"MagXMax\":res.X.max, \"MagXMin\":res.X.min, \"MagXAvg\":res.X.avg,\n            \"MagYMax\":res.Y.max, \"MagYMin\":res.Y.min, \"MagYAvg\":res.Y.avg,\n            \"MagZMax\":res.Z.max, \"MagZMin\":res.Z.min, \"MagZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"MIC\":\n        res = arrCalc(data);\n        msg.payload.measurements = { \"MicMax\":res.max, \"MicMin\":res.min, \"MicAvg\":res.avg};\n        break;\n    default:\n        return null;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('ArrCalc', function (arr){\n    var sum = arr[0], res = {max :arr[0],min:arr[0] };\n    \n    for (var i=1; i < arr.length ; i++){\n        sum+=arr[i];\n        res.min = Math.min(res.min, arr[i]);\n        res.max = Math.max(res.max, arr[i]);\n    }\n    res.avg = sum / arr.length;\n    \n    return res;\n}\n);","finalize":"","x":960,"y":260,"wires":[["51c0a4da.4cb91c","c8d603b5.7e4d7"]]},{"id":"df24ad1d.0c5a2","type":"function","z":"91830877.d26b18","name":"iCOMOX-IoT Central Hello Reformatter","func":"if (msg.payload[\"Type\"] != \"Hello\")\n    return null;\n\n\n//New payload structure for IoTCentral\nmsg.payload =  {\n    \"device\": { \"deviceId\":msg.topic.split('/')[1] },\n    \"properties\":msg.payload[\"Data\"],\n    \"measurements\":{}\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":160,"wires":[["51c0a4da.4cb91c","c8d603b5.7e4d7"]]},{"id":"9c78777c.26d488","type":"function","z":"91830877.d26b18","name":"iCOMOX-IoT Central GetConfig Reformatter","func":"if (msg.payload[\"Type\"] != \"GetConfig\")\n    return null;\n\n\n//New payload structure for IoTCentral\nmsg.payload =  {\n    \"device\": { \"deviceId\":msg.topic.split('/')[1] },\n    \"properties\":msg.payload[\"Data\"],\n    \"measurements\":{}\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":200,"wires":[["c8d603b5.7e4d7"]]},{"id":"c8d603b5.7e4d7","type":"debug","z":"91830877.d26b18","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":260,"wires":[]},{"id":"bfdefe32.7f318","type":"iCOMOX Parser","z":"91830877.d26b18","name":"","x":360,"y":240,"wires":[["9274c23a.83b3f","b1d3cdb8.0771e"]]},{"id":"df0de2c.4ca322","type":"iCOMOX Parser","z":"91830877.d26b18","name":"","x":1020,"y":620,"wires":[["2ea1ad0e.b72f12","49802a53.017af4"]]},{"id":"d06c3515.0071e8","type":"mqtt-broker","z":"","name":"LocalHost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]