Examples/iCOMOX_Mindsphere.json
[{"id":"f207b9c6.ae65a8","type":"tab","label":"iCOMOX Mindsphere Example","disabled":false,"info":""},{"id":"eab37ad9.480a78","type":"mindconnect","z":"f207b9c6.ae65a8","name":"","configtype":"SHARED_SECRET","agentconfig":"","privatekey":"-----BEGIN RSA PRIVATE KEY-----\nMIIG5AIBAAKCAYEAuZqKPVmzl8FI74lGslUfqHN6UaU/BpDs2P/FKXZ9D1ljoTCu\niAtsa8SH/J0dA2I6XuAsUvNJEqMIXuO/decajsHzgigt/Yaj7h/5Ki3Hxh6TCPcS\nmvP9HgIyyq5kthE4MVbl96WlqT4Na/ZKT2lyD4t9FilqdWZ66FdSawAc2diXZMUx\ngcq9qUi35MMi8wfDqHj3XExHslW59c0tS0r05ei3TDhqmQCV9ey39gfgfIl4OXd/\njPkQr6ZJmD+/AB7XfrvrL91GR9miF5KDAEM55srym3YIiGuc57l04nYTfw9SA5sm\n/Td9gErRZxCnD0eKZfdDx60KvoNBLeFtZGhQXBO7CsM3WXyvwCTCEbfmu8xju4dm\nWCwmh6SgtffUNbim2Xv3CZjfM6xRcCZOseojnI6/jb6uYN+7Rn3olEIZwlB4OgK+\niW2DQYnDv4xBpQZKYjODCgLh99HPjqNwLrVlZytSi9H5CJUNhdgWMqr6YfeMlVbZ\ne4tccYqVoqynGFr1AgMBAAECggGAf9dfgrSHjG644y0GAg25+ZhY12XfzJEEYs+B\nqXaQ24KxqjRS8ygTLQO4uxopAsyk8fas8RHb8jdTq7Bpjzd4xn33UV6FlwwnW/yv\n7gqMgP1MP6+XJB4M6Z+QBqUqf3HK58k4K2Twf2tbaVLCioJR6z0kEqDCUE0fOWv0\nO/le5fpXBTUCTaktDC4nZC24o/dkIGX505xDAiYkKZeCrErb9oRdxOVTH0IVCMhd\nSdzRFlbF9adGtv5TLPl31aOK1vVmQvLbdXu00EEQgMQ3lvcKbXsn067vUbEWIOBH\n5L/UOWalHIdGX676SBsaXAWn9o5JX4PzIcneGB66cwArFYfUCjc26UDPBVqTmGek\nlozB+Fr/ovqx3fOTxmnKPcKcGK8F5UyzM7m3A/rxJJ09CI9TxSbU71bm9DvP2/4T\nHnQ4WRkL0ptaaXYDwBKAzNWYU3EV7/Iva4L4F2KcTlPj5Esz9kRYSRW6NuRVk00F\nyTyDOY1bI84TuYm8IB14hBKZXGBBAoHBAN3e64kFfqq6rHfyWhPBarItwNm0Hz/P\nTTQ2KAuL+/eJT1yhKzJz6o2s2ZQ5kVLaLEOzPtJfXob8TuVaDIZypxNZEStzKkDV\nErrzZ0KRTbqfKIYOdx5rBGT3OrE9efqEjHkKfS4a30M/74th/zawXH55F1sdhJL7\nNMOM81w0TTNWlsXvpfjH7DsjMuHN3UMZUySXoYtrBncHFAZPHVbLYTABiIkakj1D\nXeSIeeLmmMXSYJpq1nhkUi6W3TivYcPUUQKBwQDWJ3PUDssojrRfYoBdpeMHX0lj\nq1WjXm9NCI+5eiq2prZ6Dx1dhOn80qlVp+JfG4c3cJirb+SWgJvJ9/d1qxDYGt4i\ne6ejmXViizJWx4BbdgmDUtqRVjBdRhhpaH2cmUFowmlP9Gt87POfCFfdSeSsNIHm\nVMtZ23N8agY5QRb8BhjCmI3my10zp51FzngFengq7udpRH/5kkomc08yIqtkSV5R\nvNr/Y2CWj5Go5f3MQXSWKubHKp1jYzA1KYaZZ2UCgcAFqs4FX/iOT9pb7frTClu5\nVWXZqboqnRbxwHhhYx/6gK1gRlWeIkvZdpLQMHA/14bN6+Qs53a4p/Uz8orjXEZc\nPigsHfL0WPzzfYgjsSZ1H9+fHPt58W3ZTl9Xa6ST+5LC/LuZ0+HkC9wIiWZFdVfH\nezxXfXeHcZc1b4I/1q4qI4oSYD6zDhhAonOIRQPj1N/EzYK41vEBVVLznk23i9Zd\nrYxZRC58Fh5t2faTDyTT2L3S8+uqg5V9zyiza/dpUyECgcEAs+im/SKEeAkS7QMi\nVgozpRDe5bWdl0aReITVwXspgRKjP/2MrPEpZbVQft4wZbgJq4CTMYsp3Woj9tOz\nd44D85j2vr9lQSJ9pBDOdGrboXqTWVj0t55RuTpW7c7ToAh8E9cng/0Rg/zIWfU3\nY3ddfXILIwZfY5jh90ZW/ih5d7ZjfK+OnrKAFRIeJPPkjq2pYGAd1qiuXmsQkibT\nBIpttC2S6FYhIOZK0ZHBS8QTqFHg8PsPr4hUepdse2zsX9mlAoHBAI5/+pLe7TOS\nOaBBte1lG8jR4/Fp7C9WNcXZ9kzpSB2R+VMwrIbtrNOmZDnz4+Gdd9Ej8tpQbAXL\n1C6rL+HUB7Tcy1qsd+7qv8qDzrXBDhQp6l66+1fPEjEo5D+LE9feKVVpkptdOuob\nyPSdrn4iBDgTtz6JKCPO6OHHU9m8cYUBTesIZxNqY4SNMdM6gxjP1x0DQIMvC3oY\nGXEca/9oO/j7tKBMYAPvYopE/icJrguMae4tdwIID1x0Y1k6Qv5qrA==\n-----END RSA PRIVATE KEY-----","model":"","validate":true,"validateevent":true,"chunk":true,"disablekeepalive":false,"retry":"3","parallel":"4","asyncduration":"10","x":1630,"y":240,"wires":[["6c94c7d7.35cfe8"]]},{"id":"c74257c0.25ef28","type":"debug","z":"f207b9c6.ae65a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":900,"wires":[]},{"id":"6fe0dc84.b3ed74","type":"mqtt in","z":"f207b9c6.ae65a8","name":"iCOMOX-MQTT-In","topic":"iCOMOX/+/IN","qos":"2","datatype":"auto","broker":"d06c3515.0071e8","x":110,"y":220,"wires":[["a7ce13bf.7ee88"]]},{"id":"6e0a75d.7e0fa8c","type":"function","z":"f207b9c6.ae65a8","name":"iCOMOX Control","func":"\n//Check message\nswitch(msg.payload[\"Type\"]){\n    case \"Hello\": //Start iCOMOX on hello message\n        msg = {\"DeviceID\":msg.DeviceID , \"payload\":{\"Type\":\"SetConfig\", \"Data\":{\"Enable\":true,\"Temp\":true,\"ACC1\":true,\"ACC2\":true,\"MAG\":true,\"MIC\":true,\"Interval\":1, \"Repetition\":0}}};\n        break;\n    case \"SetConfig\": //Get configuration on SetConfig ack message\n        msg = {\"DeviceID\":msg.DeviceID , \"payload\":{\"Type\":\"GetConfig\"}};\n        break;\n    \n    default:\n        return null;\n}\n        \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":600,"wires":[["114bcee8.58ef61","ca98cac3.8a70d8"]]},{"id":"147552fb.d5c5ed","type":"debug","z":"f207b9c6.ae65a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]},{"id":"ca98cac3.8a70d8","type":"function","z":"f207b9c6.ae65a8","name":"Stringify obj","func":"console.log(\"JSON:\" +JSON.stringify(msg));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":680,"wires":[[]]},{"id":"7913c01a.1fdef","type":"comment","z":"f207b9c6.ae65a8","name":"iCOMOX to Cloud","info":"","x":120,"y":160,"wires":[]},{"id":"ef909061.caf","type":"mqtt out","z":"f207b9c6.ae65a8","name":"iCOMOX-MQTT-Out","topic":"","qos":"","retain":"","broker":"d06c3515.0071e8","x":720,"y":600,"wires":[]},{"id":"47521701.ab5cb8","type":"switch","z":"f207b9c6.ae65a8","name":"Message Type","property":"payload[\"Type\"]","propertyType":"msg","rules":[{"t":"eq","v":"Hello","vt":"str"},{"t":"eq","v":"Reset","vt":"str"},{"t":"eq","v":"GetConfig","vt":"str"},{"t":"eq","v":"SetConfig","vt":"str"},{"t":"eq","v":"Report","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":640,"y":220,"wires":[["6e0a75d.7e0fa8c"],["6e0a75d.7e0fa8c"],["6e0a75d.7e0fa8c"],["6e0a75d.7e0fa8c"],["fe4dcca4.9faa9"]],"inputLabels":["iCOMOX JSON in"],"outputLabels":["Hello","Reset","GetConfig","SetConfig","Report"]},{"id":"c097a15f.3bccb","type":"function","z":"f207b9c6.ae65a8","name":"iCOMOX MindSphere Report Reformatter","func":"\n//Table for ID conversion\nvar convTable = context.get('MindSphereConversion');\n\nvar meas = msg.payload.measurements;\n\n\nvar values = [];\n\n//Convert all keys\nfor(var key in meas){\n  values.push({ dataPointId: convTable[key], qualityCode: \"1\", value: meas[key].toString() });\n}\n\nreturn {\"payload\":values};\n","outputs":1,"noerr":0,"initialize":"\ncontext.set('MindSphereConversion', {\n        \"Temp\":\"1599643644593\",\n        \"MicMax\":\"1599643644594\",\n        \"MicMin\":\"1599643644597\",\n        \"MicAvg\":\"1599643644600\",\n        \"Acc1XMax\":\"1599643644603\",\n        \"Acc1YMax\":\"1599643644604\",\n        \"Acc1ZMax\":\"1599643644605\",\n        \"Acc1XMin\":\"1599643644606\",\n        \"Acc1YMin\":\"1599643644607\",\n        \"Acc1ZMin\":\"1599643644608\",\n        \"Acc1XAvg\":\"1599643644609\",\n        \"Acc1YAvg\":\"1599643644610\",\n        \"Acc1ZAvg\":\"1599643644611\",\n        \"Acc2XMax\":\"1599643644612\",\n        \"Acc2YMax\":\"1599643644613\",\n        \"Acc2ZMax\":\"1599643644614\",\n        \"Acc2XMin\":\"1599643644615\",\n        \"Acc2YMin\":\"1599643644616\",\n        \"Acc2ZMin\":\"1599643644617\",\n        \"Acc2XAvg\":\"1599643644618\",\n        \"Acc2YAvg\":\"1599643644619\",\n        \"Acc2ZAvg\":\"1599643644620\",\n        \"MagXMax\":\"1599643644621\",\n        \"MagYMax\":\"1599643644622\",\n        \"MagZMax\":\"1599643644623\",\n        \"MagXMin\":\"1599643644624\",\n        \"MagYMin\":\"1599643644625\",\n        \"MagZMin\":\"1599643644626\",\n        \"MagXAvg\":\"1599643644627\",\n        \"MagYAvg\":\"1599643644628\",\n        \"MagZAvg\":\"1599643644629\",\n    }\n);","finalize":"","x":1300,"y":240,"wires":[["6c94c7d7.35cfe8","eab37ad9.480a78"]]},{"id":"6c94c7d7.35cfe8","type":"debug","z":"f207b9c6.ae65a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":100,"wires":[]},{"id":"fe4dcca4.9faa9","type":"function","z":"f207b9c6.ae65a8","name":"iCOMOX  Report Statistics Reformatter","func":"//Reports only\nif (msg.payload[\"Type\"] != \"Report\")\n    return null;\n\n\n//Function to return max,min and average of array\nvar arrCalc = context.get('ArrCalc');\n\n//Save payload\nvar payload = msg.payload;\n\n//New payload structure for IoTCentral\nmsg.payload =  {\n    \"deviceId\":msg.DeviceID ,\n    \"measurements\":{}\n};\n\n//Check message\n//Message data\nvar data = payload[\"Data\"][payload[\"Data\"][\"ReportType\"]];\nvar res;\n\nswitch (payload[\"Data\"][\"ReportType\"]){\n    case \"Temp\":\n        msg.payload.measurements[\"Temp\"] = data;\n        break;\n    case \"ACC1\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"Acc1XMax\":res.X.max, \"Acc1XMin\":res.X.min, \"Acc1XAvg\":res.X.avg,\n            \"Acc1YMax\":res.Y.max, \"Acc1YMin\":res.Y.min, \"Acc1YAvg\":res.Y.avg,\n            \"Acc1ZMax\":res.Z.max, \"Acc1ZMin\":res.Z.min, \"Acc1ZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"ACC2\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"Acc2XMax\":res.X.max, \"Acc2XMin\":res.X.min, \"Acc2XAvg\":res.X.avg,\n            \"Acc2YMax\":res.Y.max, \"Acc2YMin\":res.Y.min, \"Acc2YAvg\":res.Y.avg,\n            \"Acc2ZMax\":res.Z.max, \"Acc2ZMin\":res.Z.min, \"Acc2ZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"MAG\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"MagXMax\":res.X.max, \"MagXMin\":res.X.min, \"MagXAvg\":res.X.avg,\n            \"MagYMax\":res.Y.max, \"MagYMin\":res.Y.min, \"MagYAvg\":res.Y.avg,\n            \"MagZMax\":res.Z.max, \"MagZMin\":res.Z.min, \"MagZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"MIC\":\n        res = arrCalc(data);\n        msg.payload.measurements = { \"MicMax\":res.max, \"MicMin\":res.min, \"MicAvg\":res.avg};\n        break;\n    default:\n        return null;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('ArrCalc', function (arr){\n    var sum = arr[0], res = {max :arr[0],min:arr[0] };\n    \n    for (var i=1; i < arr.length ; i++){\n        sum+=arr[i];\n        res.min = Math.min(res.min, arr[i]);\n        res.max = Math.max(res.max, arr[i]);\n    }\n    res.avg = sum / arr.length;\n    \n    return res;\n}\n);\n\n","finalize":"","x":950,"y":240,"wires":[["c097a15f.3bccb","6c94c7d7.35cfe8"]]},{"id":"a7ce13bf.7ee88","type":"iCOMOX Parser","z":"f207b9c6.ae65a8","name":"","x":360,"y":220,"wires":[["47521701.ab5cb8","147552fb.d5c5ed"]]},{"id":"114bcee8.58ef61","type":"iCOMOX Parser","z":"f207b9c6.ae65a8","name":"","x":460,"y":600,"wires":[["ef909061.caf","ca98cac3.8a70d8"]]},{"id":"d06c3515.0071e8","type":"mqtt-broker","z":"","name":"LocalHost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]