Examples/iCOMOX_Example.json
[{"id":"301437f3.4f6bb8","type":"tab","label":"iCOMOX node example","disabled":false,"info":""},{"id":"8ec66c74.948d5","type":"inject","z":"301437f3.4f6bb8","name":"GetConfig","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Type\":\"GetConfig\"}","payloadType":"json","x":100,"y":200,"wires":[["cfeb102e.fe88a"]]},{"id":"df1bea76.1e40b8","type":"debug","z":"301437f3.4f6bb8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"8092dbfe.fde7f8","type":"iCOMOX Parser","z":"301437f3.4f6bb8","name":"","x":640,"y":460,"wires":[["df1bea76.1e40b8"]]},{"id":"aa8f564d.906c78","type":"inject","z":"301437f3.4f6bb8","name":"SetConfig (Enable)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Type\":\"SetConfig\", \"Data\":{\"Enable\":true,\"Temp\":true,\"ACC1\":true,\"ACC2\":false,\"MAG\":true,\"MIC\":false,\"Interval\":5, \"Repetition\":0}}","payloadType":"json","x":130,"y":240,"wires":[["cfeb102e.fe88a"]]},{"id":"324df426.d866ac","type":"inject","z":"301437f3.4f6bb8","name":"SetConfig (Disable)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Type\":\"SetConfig\", \"Data\":{\"Enable\":false,\"Temp\":false,\"ACC1\":false,\"ACC2\":false,\"MAG\":false,\"MIC\":false,\"Interval\":5, \"Repetition\":3}}","payloadType":"json","x":130,"y":280,"wires":[["cfeb102e.fe88a"]]},{"id":"eb6eb626.4a9718","type":"inject","z":"301437f3.4f6bb8","name":"Reset (SW)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Type\":\"Reset\", \"Data\":{\"ResetType\":\"SW\"}}","payloadType":"json","x":110,"y":120,"wires":[["cfeb102e.fe88a"]]},{"id":"b1d13957.a841a8","type":"inject","z":"301437f3.4f6bb8","name":"Reset (HW)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Type\":\"Reset\", \"Data\":{\"ResetType\":\"HW\"}}","payloadType":"json","x":110,"y":160,"wires":[["cfeb102e.fe88a"]]},{"id":"7fad16cc.4faf78","type":"comment","z":"301437f3.4f6bb8","name":"iCOMOX Commands (JSON)","info":"","x":140,"y":20,"wires":[]},{"id":"40c69328.aa1afc","type":"comment","z":"301437f3.4f6bb8","name":"iCOMOX Responses (Binary)","info":"","x":140,"y":380,"wires":[]},{"id":"ba4243d6.9f29c","type":"inject","z":"301437f3.4f6bb8","name":"Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Type\":\"Hello\"}","payloadType":"json","x":90,"y":80,"wires":[["cfeb102e.fe88a"]]},{"id":"4c810215.1cc0ec","type":"inject","z":"301437f3.4f6bb8","name":"Report - Microphone","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[255,4,66,202,251,214,161,47,0,0,34,255,34,255,34,255,34,255,33,255,33,255,32,255,32,255,31,255,32,255,31,255,32,255,32,255,31,255,32,255,32,255,32,255,32,255,32,255,32,255,33,255,32,255,33,255,32,255,32,255,32,255,32,255,33,255,32,255,33,255,32,255,32,255,32,255,31,255,31,255,31,255,30,255,31,255,30,255,31,255,30,255,30,255,31,255,30,255,30,255,30,255,30,255,30,255,30,255,30,255,30,255,30,255,30,255,30,255,30,255,30,255,31,255,31,255,31,255,31,255,31,255,30,255,30,255,30,255,30,255,30,255,30,255,29,255,29,255,29,255,28,255,28,255,28,255,28,255,28,255,28,255,29,255,29,255,29,255,29,255,29,255,29,255,29,255,29,255,28,255,29,255,29,255,29,255,29,255,29,255,28,255,28,255,28,255,27,255,27,255,26,255,26,255,26,255,26,255,26,255,25,255,25,255,25,255,25,255,25,255,25,255,25,255,25,255,24,255,25,255,25,255,25,255,26,255,26,255,26,255,26,255,26,255,26,255,26,255,25,255,25,255,25,255,25,255,25,255,24,255,25,255,24,255,23,255,23,255,22,255,22,255,22,255,22,255,22,255,22,255,22,255,22,255,22,255,22,255,22,255,21,255,22,255,22,255,22,255,21,255,22,255,21,255,22,255,21,255,22,255,21,255,21,255,21,255,21,255,21,255,21,255,21,255,21,255,22,255,21,255,21,255,21,255,20,255,20,255,20,255,20,255,20,255,20,255,18,255,19,255,18,255,18,255,19,255,19,255,18,255,18,255,18,255,17,255,16,255,16,255,16,255,16,255,15,255,15,255,15,255,14,255,14,255,13,255,13,255,13,255,13,255,13,255,13,255,13,255,13,255,14,255,14,255,14,255,15,255,14,255,15,255,15,255,15,255,14,255,15,255,14,255,14,255,13,255,13,255,13,255,13,255,12,255,12,255,11,255,11,255,12,255,11,255,11,255,11,255,10,255,10,255,10,255,10,255,10,255,10,255,10,255,9,255,10,255,9,255,10,255,9,255,9,255,8,255,9,255,8,255,9,255,8,255,9,255,8,255,8,255,8,255,8,255,7,255,8,255,8,255,8,255,7,255,8,255,8,255,8,255,8,255,8,255,8,255,8,255,8,255,8,255,8,255,8,255,7,255,7,255,7,255,7,255,7,255,7,255,7,255,6,255,6,255,5,255,5,255,4,255,4,255,4,255,4,255,3,255,4,255,3,255,3,255,4,255,4,255,4,255,3,255,4,255,4,255,4,255,4,255,4,255,4,255,4,255,5,255,5,255,5,255,5,255,5,255,5,255,5,255,5,255,4,255,4,255,4,255,3,255,3,255,3,255,3,255,3,255,3,255,3,255,3,255,2,255,2,255,2,255,1,255,1,255,1,255,1,255,1,255,1,255,1,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,3,255,2,255,2,255,2,255,2,255,2,255,1,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,2,255,1,255,2,255,1,255,1,255,0,255,1,255,0,255,0,255,0,255,0,255,0,255,0,255,0,255,255,254,255,254,255,254,255,254,255,254,0,255,0,255,0,255,1,255,1,255,1,255,1,255,1,255,1,255,1,255,1,255,1,255,1,255,1,255,0,255,255,254,0,255,255,254,255,254,255,254,255,254,255,254,255,254,255,254,255,254,254,254,254,254,254,254,254,254,254,254,254,254,253,254,253,254,254,254,254,254,254,254,253,254,253,254,253,254,253,254,253,254,253,254,254,254,253,254,253,254,253,254,253,254,253,254,254,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,254,254,254,254,254,254,254,254,253,254,254,254,254,254,254,254,254,254,254,254,254,254,254,254,254,254,254,254,254,254,253,254,253,254,252,254,253,254,252,254,252,254,252,254,252,254,252,254,252,254,252,254,252,254,252,254,251,254,251,254,251,254,252,254,251,254,252,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,253,254,252,254,252,254,252,254,252,254,252,254,252,254,252,254,251,254,251,254,251,254,251,254,251,254,251,254,251,254,250,254,251,254,251,254,251,254,251,254,250,254,250,254,251,254,250,254,251,254,250,254,251,254,251,254,251,254,251,254,252,254,252,254,252,254,251,254,251,254,251,254,252,254,252,254,252,254,252,254,252,254,252,254,253,254,252,254,253,254,252,254,252,254,251,254,252,254,252,254,252,254,252,254,251,254,251,254,251,254,251,254,250,254,251,254,250,254,250,254,250,254,249,254,250,254,249,254,249,254,248,254,248,254,248,254,248,254,248,254,248,254,249,254,249,254,249,254,249,254,249,254,249,254,249,254,248,254,249,254,248,254,249,254,249,254,249,254,248,254,248,254,248,254,248,254,248,254,248,254,247,254,247,254,247,254,247,254,246,254,247,254,246,254,246,254,247,254,247,254,247,254,246,254,246,254,246,254,246,254,246,254,246,254,246,254,247,254,247,254,247,254,246,254,247,254,246,254,246,254,246,254,246,254,245,254,246,254,245,254,246,254,245,254,245,254,245,254,245,254,244,254,244,254,244,254,244,254,243,254,244,254,243,254,244,254,244,254,244,254,244,254,244,254,244,254,244,254,243,254,243,254,243,254,243,254,242,254,242,254,242,254,241,254,241,254,241,254,240,254,240,254,240,254,239,254,239,254,240,254,239,254,239,254,239,254,239,254,239,254,239,254,239,254,239,254,239,254,240,254,240,254,240,254,240,254,240,254,240,254,240,254,240,254,240,254,240,254,240,254,241,254,240,254,240,254,240,254,240,254,240,254,239,254,239,254,239,254,238,254,238,254,238,254,238,254,238,254,238,254,238,254,237,254,237,254,237,254,237,254,237,254,238,254,238,254,238,254,238,254,237,254,237,254,237,254,237,254,237,254,238,254,238,254,238,254,238,254,239,254,238,254,238,254,238,254,237,254,237,254,237,254,238,254,238,254,238,254,237,254,237,254,236,254,237,254,237,254,237,254,237,254,237,254,236,254,237,254,237,254,236,254,236,254,236,254,236,254,235,254,235,254,235,254,235,254,234,254,234,254,234,254,235,254,234,254,234,254,235,254,235,254,235,254,235,254,235,254,236,254,236,254,236,254,236,254,236,254,237,254,236,254,237,254,236,254,237,254,236,254,236,254,236,254,236,254,236,254,235,254,235,254,234,254,234,254,234,254,234,254,234,254,234,254,233,254,233,254,233,254,233,254,233,254,233,254,233,254,233,254,232,254,233,254,232,254,232,254,232,254,232,254,232,254,233,254,232,254,232,254,232,254,232,254,232,254,232,254,232,254,232,254,232,254,232,254,233,254,232,254,233,254,232,254,232,254,233,254,233,254,233,254,234,254,233,254,233,254,234,254,233,254,233,254,232,254,233,254,232,254,232,254,232,254,232,254,231,254,231,254,231,254,230,254,230,254,230,254,229,254,229,254,229,254,229,254,229,254,230,254,230,254,229,254,230,254,230,254,229,254,229,254,230,254,230,254,230,254,231,254,231,254,232,254,231,254,232,254,231,254,231,254,231,254,230,254,230,254,230,254,231,254,230,254,230,254,230,254,230,254,229,254,229,254,229,254,229,254,228,254,229,254,228,254,228,254,228,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,230,254,229,254,230,254,229,254,230,254,230,254,230,254,230,254,230,254,230,254,230,254,230,254,230,254,230,254,229,254,230,254,229,254,229,254,229,254,229,254,229,254,229,254,229,254,228,254,228,254,228,254,228,254,228,254,228,254,228,254,228,254,228,254,228,254,228,254,228,254,229,254,228,254,228,254,228,254,229,254,228,254,229,254,229,254,229,254,229,254,228,254,229,254,228,254,229,254,229,254,229,254,229,254,229,254,229,254,228,254,228,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,226,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,226,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,227,254,228,254,227,254,227,254,228,254,227,254,227,254,227,254,227,254,226,254,226,254,225,254,225,254,224,254,225,254,224,254,224,254,224,254,224,254,224,254,224,254,224,254,223,254,224,254,224,254,225,254,225,254,225,254,226,254,225,254,226,254,225,254,225,254,225,254,225,254,225,254,224,254,224,254,224,254,224,254,224,254,223,254,223,254,223,254,223,254,222,254,223,254,222,254,222,254,222,254,222,254,222,254,222,254,222,254,223,254,223,254,222,254,222,254,223,254,223,254,223,254,223,254,223,254,223,254,223,254,224,254,224,254,223,254,224,254,223,254,224,254,223,254]","payloadType":"bin","x":130,"y":800,"wires":[["8092dbfe.fde7f8"]]},{"id":"1afca842.a75108","type":"inject","z":"301437f3.4f6bb8","name":"Report - Magnetometer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[255,2,99,77,240,214,161,47,0,0,6,0,252,255,220,255,6,0,251,255,215,255,5,0,252,255,218,255,6,0,253,255,217,255,5,0,251,255,217,255,4,0,251,255,218,255,6,0,251,255,219,255,4,0,251,255,218,255,5,0,252,255,219,255,3,0,249,255,217,255,4,0,252,255,220,255,6,0,250,255,222,255,4,0,253,255,220,255,5,0,252,255,219,255,6,0,251,255,219,255,6,0,251,255,213,255,7,0,249,255,214,255,5,0,251,255,214,255,6,0,250,255,217,255,5,0,252,255,218,255,7,0,251,255,213,255,4,0,250,255,217,255,5,0,252,255,218,255,6,0,250,255,220,255,5,0,250,255,216,255,6,0,251,255,213,255,6,0,252,255,217,255,6,0,251,255,219,255,5,0,250,255,216,255,5,0,252,255,219,255,4,0,251,255,217,255,7,0,250,255,215,255,6,0,250,255,215,255,5,0,251,255,222,255,7,0,252,255,215,255,5,0,251,255,217,255,7,0,251,255,215,255,6,0,252,255,220,255,5,0,251,255,216,255,5,0,249,255,219,255,4,0,251,255,217,255,4,0,252,255,220,255,4,0,252,255,216,255,5,0,251,255,222,255,4,0,252,255,217,255,7,0,251,255,221,255,4,0,251,255,220,255,5,0,251,255,222,255,4,0,252,255,222,255,6,0,253,255,218,255,5,0,251,255,217,255,4,0,251,255,217,255,5,0,254,255,220,255,8,0,254,255,216,255,4,0,251,255,219,255,6,0,250,255,215,255,5,0,252,255,222,255,5,0,252,255,217,255,6,0,250,255,217,255,5,0,252,255,212,255,5,0,251,255,212,255,6,0,252,255,215,255,4,0,249,255,218,255,6,0,251,255,220,255,7,0,252,255,215,255,7,0,250,255,212,255,7,0,250,255,221,255,5,0,253,255,217,255,4,0,250,255,215,255,5,0,251,255,219,255,5,0,249,255,216,255,4,0,251,255,217,255,5,0,251,255,218,255,7,0,251,255,219,255,4,0,251,255,216,255,6,0,251,255,214,255,4,0,250,255,220,255,4,0,249,255,222,255,6,0,251,255,220,255,5,0,250,255,217,255,7,0,251,255,221,255,4,0,252,255,213,255,5,0,251,255,219,255,4,0,250,255,214,255,6,0,252,255,219,255,8,0,251,255,217,255,5,0,250,255,215,255,6,0,250,255,215,255,3,0,251,255,217,255,3,0,251,255,222,255,5,0,252,255,216,255,7,0,252,255,219,255,4,0,252,255,217,255,7,0,250,255,221,255,5,0,251,255,218,255,4,0,250,255,217,255,5,0,251,255,222,255,7,0,251,255,217,255,4,0,253,255,219,255,3,0,252,255,215,255,6,0,251,255,219,255,5,0,251,255,222,255,7,0,250,255,217,255,2,0,251,255,219,255,3,0,250,255,218,255,5,0,252,255,219,255,3,0,249,255,218,255,7,0,251,255,218,255,5,0,251,255,217,255,7,0,252,255,216,255,5,0,252,255,216,255,5,0,251,255,221,255,5,0,252,255,218,255,3,0,251,255,221,255,4,0,252,255,216,255,5,0,250,255,217,255,7,0,251,255,215,255,5,0,251,255,218,255,4,0,251,255,217,255,3,0,252,255,217,255,8,0,252,255,218,255,7,0,252,255,219,255,5,0,252,255,217,255,7,0,251,255,215,255,6,0,251,255,222,255,7,0,250,255,216,255,4,0,250,255,219,255,5,0,251,255,216,255,6,0,252,255,217,255,7,0,252,255,216,255,6,0,250,255,214,255,5,0,251,255,219,255,5,0,252,255,217,255,5,0,250,255,216,255,5,0,251,255,215,255,6,0,250,255,216,255,4,0,253,255,220,255,5,0,252,255,222,255,5,0,252,255,216,255,7,0,252,255,218,255,4,0,251,255,217,255,3,0,252,255,219,255,5,0,251,255,219,255,3,0,251,255,216,255,6,0,251,255,217,255,4,0,253,255,221,255,7,0,250,255,218,255,7,0,252,255,216,255,5,0,251,255,217,255,7,0,251,255,217,255,6,0,251,255,221,255,5,0,252,255,217,255,2,0,252,255,212,255,5,0,251,255,217,255,7,0,251,255,214,255,5,0,251,255,224,255,4,0,250,255,219,255,5,0,251,255,217,255,6,0,251,255,221,255,5,0,252,255,216,255,6,0,250,255,221,255,2,0,252,255,214,255,5,0,251,255,218,255,5,0,252,255,222,255,6,0,251,255,219,255,2,0,250,255,220,255,5,0,251,255,217,255,5,0,250,255,218,255,5,0,252,255,215,255,5,0,251,255,216,255,3,0,253,255,216,255,4,0,250,255,215,255,5,0,251,255,220,255,5,0,251,255,220,255,5,0,250,255,222,255,4,0,251,255,219,255,5,0,252,255,219,255,5,0,251,255,216,255,5,0,251,255,218,255,4,0,251,255,219,255,5,0,252,255,218,255,5,0,250,255,218,255,5,0,250,255,218,255,5,0,248,255,221,255,3,0,251,255,217,255,5,0,251,255,215,255,4,0,251,255,218,255,2,0,250,255,220,255,4,0,249,255,223,255,4,0,252,255,212,255,7,0,252,255,217,255,2,0,251,255,218,255,6,0,251,255,217,255,5,0,250,255,217,255,6,0,251,255,217,255,4,0,252,255,215,255,5,0,251,255,213,255,4,0,253,255,217,255,7,0,249,255,222,255,3,0,250,255,217,255,3,0,253,255,218,255,5,0,251,255,217,255,6,0,251,255,220,255,6,0,252,255,219,255,4,0,252,255,218,255,5,0,250,255,219,255,4,0,251,255,215,255,4,0,252,255,219,255,3,0,251,255,222,255,5,0,252,255,218,255,6,0,251,255,219,255,6,0,251,255,220,255,5,0,250,255,217,255,7,0,250,255,218,255,7,0,250,255,217,255,2,0,252,255,218,255,4,0,253,255,219,255,5,0,250,255,218,255,5,0,250,255,220,255,6,0,249,255,218,255,4,0,252,255,218,255,3,0,251,255,219,255,5,0,252,255,217,255,4,0,251,255,216,255,6,0,251,255,217,255,4,0,251,255,219,255,5,0,251,255,219,255,4,0,250,255,216,255,5,0,251,255,221,255,4,0,252,255,215,255,5,0,251,255,218,255,4,0,250,255,214,255,4,0,251,255,214,255,2,0,249,255,218,255,6,0,253,255,220,255,4,0,252,255,219,255,4,0,252,255,219,255,5,0,251,255,214,255,5,0,253,255,224,255,5,0,251,255,216,255,2,0,252,255,219,255,5,0,251,255,222,255,4,0,249,255,214,255,4,0,251,255,221,255,7,0,251,255,217,255,4,0,252,255,219,255,4,0,250,255,218,255,5,0,251,255,221,255,5,0,251,255,221,255,4,0,252,255,218,255,5,0,250,255,220,255,4,0,251,255,220,255,5,0,251,255,216,255,5,0,251,255,217,255,2,0,252,255,219,255,4,0,251,255,218,255,5,0,251,255,218,255,7,0,250,255,218,255,4,0,251,255,222,255,6,0,252,255,220,255,5,0,251,255,216,255,5,0,251,255,220,255,6,0,251,255,217,255,5,0,251,255,215,255,6,0,251,255,217,255,5,0,249,255,216,255,6,0,252,255,219,255,3,0,251,255,217,255,4,0,252,255,216,255,5,0,250,255,219,255,5,0,250,255,222,255,4,0,251,255,219,255,7,0,252,255,215,255,5,0,249,255,218,255,5,0,251,255,217,255,5,0,251,255,216,255,6,0,250,255,212,255,3,0,250,255,216,255,5,0,253,255,222,255,4,0,252,255,214,255,5,0,251,255,221,255,5,0,252,255,218,255,6,0,252,255,219,255,5,0,254,255,219,255,6,0,249,255,217,255,5,0,252,255,216,255,5,0,252,255,219,255,5,0,250,255,223,255,4,0,251,255,219,255,6,0,252,255,214,255,7,0,249,255,213,255,4,0,250,255,216,255,4,0,252,255,222,255,5,0,251,255,218,255,6,0,252,255,216,255,3,0,251,255,217,255,7,0,251,255,216,255,5,0,252,255,219,255,5,0,252,255,218,255,4,0,251,255,217,255,6,0,250,255,219,255,5,0,251,255,214,255,6,0,251,255,222,255,5,0,251,255,218,255,4,0,251,255,219,255,3,0,249,255,219,255,5,0,253,255,217,255,4,0,251,255,215,255,7,0,252,255,217,255,5,0,251,255,219,255,6,0,251,255,219,255,4,0,251,255,220,255,5,0,251,255,220,255,4,0,251,255,219,255,5,0,249,255,219,255,4,0,250,255,221,255,7,0,252,255,215,255,5,0,251,255,216,255,4,0,251,255,219,255,4,0,251,255,220,255,5,0,251,255,222,255,4,0,251,255,217,255,4,0,249,255,217,255,5,0,252,255,217,255,6,0,251,255,219,255,5,0,251,255,220,255,5,0,251,255,218,255,7,0,252,255,224,255,5,0,251,255,216,255,7,0,250,255,217,255,5,0,252,255,220,255,6,0,251,255,217,255,5,0,252,255,217,255,7,0,251,255,212,255,4,0,251,255,219,255,5,0,249,255,222,255,5,0,251,255,220,255,4,0,251,255,214,255,5,0,252,255,222,255,4,0,252,255,214,255,4,0,251,255,219,255,7,0,250,255,218,255,5,0,250,255,222,255,4,0,251,255,218,255,7,0,250,255,216,255,6,0,251,255,219,255,5,0,251,255,219,255,4,0,252,255,217,255,4,0,251,255,218,255,7,0,250,255,218,255,5,0,253,255,218,255,5,0,252,255,218,255,4,0,252,255,217,255,3,0,250,255,214,255,7,0,249,255,219,255,4,0,250,255,218,255,5,0,249,255,215,255,2,0,252,255,217,255,5,0,250,255,217,255,5,0,250,255,217,255,5,0,251,255,217,255,5,0,252,255,219,255,3,0,249,255,217,255,6,0,251,255,219,255,6,0,250,255,214,255,5,0,249,255,221,255,3,0,250,255,212,255,6,0,252,255,218,255,6,0,254,255,211,255,4,0,252,255,214,255,6,0,253,255,219,255,5,0,250,255,217,255,5,0,252,255,220,255,5,0,252,255,217,255,5,0,251,255,223,255,4,0,252,255,221,255,4,0,252,255,219,255,6,0,252,255,218,255,4,0,252,255,217,255,4,0,252,255,214,255,5,0,248,255,219,255,4,0,252,255,217,255,6,0,252,255,214,255,6,0,251,255,220,255,7,0,252,255,219,255,1,0,251,255,219,255,5,0,251,255,220,255,5,0,250,255,213,255,5,0,252,255,219,255,5,0,251,255,219,255,6,0,250,255,221,255,4,0,250,255,210,255,5,0,251,255,218,255,6,0,251,255,216,255,6,0,252,255,218,255,4,0,251,255,217,255,4,0,251,255,215,255,5,0,251,255,216,255,5,0,251,255,219,255,6,0,248,255,218,255,4,0,250,255,218,255,5,0,252,255,219,255,5,0,251,255,214,255,5,0,250,255,214,255,5,0,251,255,213,255,5,0,251,255,219,255,4,0,251,255,221,255,5,0,252,255,218,255,5,0,251,255,218,255,2,0,252,255,214,255,4,0,251,255,214,255,3,0,251,255,215,255,5,0,250,255,219,255,3,0,252,255,215,255,4,0,250,255,219,255,5,0,251,255,217,255,4,0,252,255,217,255,5,0,251,255,219,255,5,0,252,255,218,255,5,0,252,255,221,255,5,0,252,255,222,255,4,0,250,255,216,255,5,0,251,255,219,255,4,0,250,255,220,255,7,0,250,255,221,255,4,0,251,255,215,255,4,0,253,255,220,255,5,0,251,255,217,255,8,0,251,255,217,255,4,0,252,255,217,255,5,0,252,255,216,255,4,0,252,255,216,255,4,0,249,255,214,255,4,0,251,255,215,255,5,0,251,255,220,255,6,0,251,255,214,255,5,0,252,255,218,255,2,0,251,255,214,255,5,0,249,255,213,255,4,0,251,255,217,255,4,0,252,255,214,255,6,0,251,255,218,255,4,0,251,255,219,255,4,0,252,255,222,255,3,0,252,255,213,255,6,0,251,255,217,255,5,0,249,255,217,255,4,0,251,255,215,255,3,0,251,255,220,255,6,0,252,255,216,255,5,0,250,255,219,255,4,0,252,255,216,255,4,0,252,255,215,255,5,0,252,255,216,255,7,0,253,255,214,255,4,0,251,255,219,255,5,0,251,255,217,255,5,0,251,255,217,255,4,0,249,255,214,255,2,0,249,255,218,255,5,0,251,255,218,255,7,0,250,255,219,255,7,0,252,255,218,255,4,0,253,255,219,255,3,0,251,255,218,255,5,0,252,255,221,255,4,0,252,255,219,255,4,0,250,255,222,255,4,0,251,255,215,255,7,0,252,255,222,255,3,0,252,255,217,255,6,0,251,255,217,255,6,0,250,255,220,255,1,0,254,255,219,255,8,0,251,255,220,255,5,0,251,255,214,255,6,0,249,255,215,255,6,0,252,255,219,255,4,0,250,255,218,255,4,0,250,255,222,255,6,0,251,255,220,255,5,0,252,255,220,255,5,0,251,255,220,255,6,0,250,255,219,255,5,0,251,255,221,255,6,0,251,255,219,255,5,0,251,255,217,255,8,0,253,255,222,255,4,0,251,255,217,255,4,0,250,255,223,255,7,0,253,255,223,255,5,0,251,255,217,255,5,0,252,255,219,255,4,0,253,255,222,255,4,0,251,255,214,255,2,0,251,255,219,255,4,0,251,255,219,255,5,0,251,255,222,255,4,0,252,255,219,255,4,0,251,255,220,255,4,0,251,255,219,255,5,0,252,255,213,255,8,0,252,255,219,255,5,0,250,255,217,255,5,0,252,255,215,255,7,0,251,255,223,255,4,0,253,255,218,255,2,0,249,255,218,255,7,0,250,255,221,255,4,0,251,255,215,255,6,0,250,255,217,255,5,0,251,255,214,255]","payloadType":"bin","x":140,"y":760,"wires":[["8092dbfe.fde7f8"]]},{"id":"9bb0b66.6e21c48","type":"inject","z":"301437f3.4f6bb8","name":"Report - Accelerometer 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[255,1,2,204,216,214,161,47,0,0,8,104,129,76,135,128,23,200,116,6,104,129,77,119,128,22,200,116,7,120,129,77,119,128,23,200,116,6,120,129,76,135,128,22,184,116,7,120,129,76,135,128,22,200,116,8,120,129,75,119,128,22,200,116,8,120,129,75,119,128,22,200,116,6,120,129,76,119,128,23,200,116,7,120,129,77,119,128,22,216,116,8,120,129,76,119,128,23,200,116,6,120,129,75,119,128,22,184,116,7,136,129,76,103,128,21,184,116,8,120,129,76,119,128,22,184,116,6,120,129,76,119,128,23,184,116,8,104,129,76,103,128,22,200,116,6,104,129,76,103,128,21,200,116,7,120,129,76,119,128,22,200,116,7,120,129,76,119,128,23,200,116,8,120,129,76,119,128,23,216,116,5,104,129,75,119,128,23,200,116,7,120,129,75,135,128,23,200,116,7,104,129,76,135,128,23,200,116,6,104,129,76,135,128,21,200,116,6,120,129,76,135,128,21,216,116,7,104,129,76,103,128,21,200,116,7,104,129,77,119,128,23,232,116,7,120,129,77,103,128,23,200,116,6,120,129,76,135,128,24,200,116,7,104,129,76,103,128,23,200,116,8,120,129,77,119,128,23,184,116,7,120,129,76,135,128,23,200,116,8,104,129,76,119,128,23,200,116,8,120,129,76,119,128,23,184,116,6,120,129,74,135,128,23,184,116,7,104,129,76,119,128,22,200,116,7,120,129,76,119,128,22,216,116,7,104,129,76,103,128,21,200,116,8,152,129,75,119,128,22,200,116,6,120,129,76,119,128,23,216,116,7,104,129,75,119,128,21,200,116,7,104,129,76,103,128,22,184,116,8,120,129,75,119,128,22,200,116,7,120,129,76,151,128,24,200,116,7,104,129,75,119,128,23,200,116,6,120,129,75,151,128,23,184,116,8,104,129,76,103,128,22,200,116,8,120,129,76,119,128,23,216,116,7,120,129,76,119,128,23,200,116,7,136,129,76,135,128,22,216,116,8,120,129,76,135,128,23,184,116,8,120,129,76,103,128,21,184,116,7,136,129,77,119,128,24,216,116,7,104,129,76,135,128,22,168,116,7,136,129,75,119,128,23,200,116,7,120,129,75,119,128,23,200,116,6,120,129,76,103,128,22,200,116,7,120,129,76,135,128,24,200,116,6,120,129,76,119,128,23,184,116,8,136,129,76,135,128,24,184,116,7,104,129,76,119,128,22,200,116,6,120,129,76,119,128,24,184,116,7,104,129,76,119,128,22,200,116,8,120,129,75,135,128,23,184,116,6,104,129,76,103,128,22,200,116,7,104,129,76,119,128,22,184,116,7,120,129,75,119,128,23,200,116,7,104,129,76,135,128,22,184,116,7,120,129,76,119,128,24,200,116,8,120,129,77,119,128,22,216,116,6,104,129,77,119,128,23,216,116,7,104,129,75,119,128,22,216,116,7,104,129,76,135,128,23,216,116,7,136,129,77,103,128,23,200,116,8,120,129,76,119,128,21,200,116,8,104,129,77,119,128,23,200,116,8,136,129,76,119,128,22,200,116,7,104,129,75,135,128,24,200,116,7,120,129,76,135,128,23,184,116,7,120,129,75,119,128,23,184,116,7,120,129,77,119,128,21,200,116,7,104,129,77,119,128,22,200,116,6,120,129,77,135,128,23,184,116,6,104,129,76,119,128,23,184,116,9,120,129,77,119,128,23,184,116,8,104,129,76,135,128,22,200,116,8,104,129,77,119,128,23,200,116,7,120,129,76,119,128,22,200,116,6,104,129,76,103,128,22,216,116,7,120,129,76,119,128,22,184,116,8,120,129,76,103,128,22,216,116,7,120,129,75,119,128,22,184,116,8,120,129,76,135,128,23,200,116,7,120,129,77,119,128,22,216,116,7,120,129,76,103,128,22,200,116,8,120,129,76,119,128,23,216,116,7,120,129,76,119,128,22,200,116,7,120,129,77,103,128,22,184,116,7,120,129,76,119,128,22,200,116,7,104,129,76,119,128,22,200,116,6,104,129,76,103,128,22,200,116,7,88,129,76,103,128,23,200,116,7,120,129,76,135,128,23,200,116,8,104,129,77,119,128,23,216,116,7,88,129,75,119,128,22,184,116,7,136,129,75,119,128,23,200,116,6,120,129,77,103,128,23,200,116,6,88,129,76,119,128,21,216,116,8,104,129,76,119,128,23,200,116,7,120,129,77,119,128,23,184,116,8,120,129,77,119,128,23,184,116,8,120,129,76,103,128,21,200,116,7,120,129,76,119,128,23,200,116,7,120,129,75,119,128,23,184,116,9,120,129,76,135,128,24,200,116,7,88,129,76,151,128,22,200,116,8,120,129,75,119,128,22,200,116,7,120,129,77,119,128,23,200,116,7,120,129,76,103,128,23,216,116,7,104,129,76,119,128,23,216,116,7,120,129,76,119,128,24,200,116,7,88,129,76,119,128,23,184,116,7,104,129,76,119,128,22,200,116,7,104,129,75,119,128,23,184,116,8,104,129,77,135,128,22,200,116,6,104,129,76,103,128,24,184,116,7,120,129,76,119,128,24,200,116,7,104,129,75,151,128,23,200,116,8,104,129,75,135,128,24,200,116,7,120,129,75,135,128,23,200,116,7,120,129,76,119,128,23,200,116,7,104,129,75,103,128,23,200,116,7,120,129,75,119,128,22,200,116,8,120,129,76,135,128,23,200,116,6,120,129,78,119,128,23,200,116,8,104,129,76,135,128,22,184,116,6,104,129,75,103,128,21,200,116,7,104,129,76,135,128,22,216,116,7,120,129,75,87,128,22,184,116,7,104,129,76,119,128,23,184,116,6,104,129,76,119,128,21,216,116,7,120,129,77,103,128,22,216,116,7,104,129,76,119,128,23,200,116,8,104,129,75,119,128,22,184,116,8,104,129,75,135,128,22,216,116,7,120,129,75,119,128,23,200,116,7,120,129,76,119,128,23,200,116,7,104,129,77,135,128,22,200,116,7,120,129,77,119,128,23,200,116,8,120,129,75,119,128,23,200,116,6,88,129,75,87,128,21,200,116,6,104,129,76,119,128,23,200,116,6,104,129,75,103,128,22,200,116,7,120,129,76,119,128,23,200,116,5,104,129,76,135,128,22,216,116,7,104,129,76,103,128,23,200,116,7,104,129,76,103,128,22,200,116,6,120,129,75,119,128,22,184,116,7,104,129,76,103,128,22,184,116,7,104,129,76,119,128,22,200,116,8,104,129,77,135,128,22,184,116,7,104,129,76,119,128,22,200,116,6,104,129,75,119,128,22,200,116,7,120,129,76,135,128,22,200,116,6,104,129,76,103,128,22,200,116,7,120,129,75,135,128,24,184,116,6,120,129,76,119,128,22,216,116,7,120,129,76,119,128,22,200,116,8,104,129,77,119,128,22,200,116,7,104,129,77,119,128,23,200,116,8,104,129,75,119,128,23,216,116,7,120,129,76,103,128,23,200,116,7,104,129,77,119,128,21,184,116,8,120,129,76,119,128,22,200,116,8,120,129,76,119,128,22,200,116,8,104,129,76,119,128,22,200,116,8,120,129,76,119,128,21,200,116,6,104,129,77,119,128,23,200,116,8,136,129,76,103,128,23,200,116,7,88,129,76,119,128,22,200,116,6,120,129,76,103,128,22,200,116,7,120,129,75,119,128,22,200,116,6,88,129,75,119,128,23,184,116,8,104,129,75,119,128,23,200,116,8,120,129,75,103,128,22,200,116,5,136,129,76,119,128,23,200,116,7,120,129,76,119,128,23,200,116,6,104,129,75,103,128,23,200,116,6,104,129,76,103,128,22,216,116,6,88,129,76,119,128,21,200,116,7,120,129,76,119,128,23,200,116,6,120,129,77,119,128,22,200,116,8,136,129,75,119,128,23,184,116,6,120,129,76,103,128,22,200,116,7,120,129,75,103,128,23,184,116,7,104,129,76,119,128,23,216,116,6,120,129,76,103,128,23,200,116,7,120,129,77,103,128,23,200,116,7,104,129,76,119,128,24,184,116,6,120,129,76,103,128,23,200,116,7,88,129,76,103,128,24,184,116,8,120,129,76,103,128,23,200,116,7,120,129,75,119,128,23,216,116,7,104,129,77,103,128,21,216,116,6,120,129,77,119,128,22,200,116,7,104,129,76,119,128,23,184,116,6,104,129,75,103,128,21,184,116,6,104,129,76,119,128,22,216,116,8,104,129,76,119,128,23,200,116,7,120,129,77,119,128,23,200,116,7,104,129,76,119,128,21,200,116,6,104,129,75,119,128,23,184,116,8,120,129,75,119,128,23,200,116,6,120,129,77,135,128,21,200,116,7,104,129,76,103,128,22,200,116,7,104,129,77,103,128,23,184,116,7,120,129,76,135,128,22,200,116,8,104,129,75,119,128,22,184,116,7,104,129,74,135,128,22,184,116,7,104,129,76,135,128,21,216,116,7,104,129,77,119,128,23,232,116,7,120,129,77,103,128,23,216,116,6,104,129,76,135,128,23,216,116,7,120,129,76,103,128,24,200,116,7,120,129,77,103,128,23,200,116,6,136,129,77,103,128,22,200,116,8,136,129,77,119,128,23,216,116,6,120,129,76,119,128,22,200,116,6,104,129,77,119,128,22,200,116,7,104,129,75,103,128,23,184,116,7,120,129,76,135,128,22,200,116,7,104,129,75,119,128,23,200,116,8,104,129,76,103,128,23,184,116,6,120,129,76,119,128,23,184,116,7,120,129,75,119,128,22,184,116,6,88,129,75,119,128,21,200,116,6,120,129,77,103,128,23,184,116,7,120,129,76,119,128,23,200,116,6,120,129,77,103,128,22,216,116,8,104,129,77,119,128,23,184,116,7,120,129,77,119,128,23,216,116,8,120,129,76,119,128,22,200,116,6,104,129,75,119,128,22,168,116,8,120,129,75,135,128,23,184,116,7,104,129,75,135,128,22,216,116,8,104,129,76,119,128,22,200,116,7,104,129,75,103,128,22,216,116,6,136,129,77,103,128,23,216,116,8,120,129,76,119,128,23,200,116,8,120,129,76,135,128,22,200,116,7,120,129,77,103,128,22,200,116,6,88,129,77,119,128,23,200,116,6,120,129,77,103,128,22,184,116,7,104,129,76,135,128,23,184,116,7,104,129,75,135,128,22,200,116,7,88,129,75,119,128,22,216,116,7,104,129,76,103,128,22,200,116,7,104,129,75,135,128,22,200,116,7,120,129,75,103,128,23,184,116,7,120,129,76,119,128,23,200,116,7,120,129,75,135,128,23,184,116,7,120,129,76,119,128,24,200,116,7,120,129,77,103,128,24,200,116,7,120,129,76,103,128,23,216,116,7,120,129,76,119,128,23,200,116,6,120,129,75,119,128,24,200,116,7,104,129,76,103,128,21,200,116,7,104,129,76,119,128,22,184,116,7,104,129,76,135,128,23,216,116,7,104,129,76,119,128,22,184,116,7,120,129,75,119,128,21,200,116,7,104,129,77,119,128,22,216,116,7,104,129,76,119,128,22,216,116,8,120,129,77,119,128,22,200,116,7,120,129,77,119,128,24,200,116,6,120,129,76,103,128,23,200,116,8,104,129,76,135,128,23,200,116,8,120,129,77,135,128,21,200,116,7,104,129,75,119,128,23,200,116,8,136,129,76,119,128,23,184,116,6,120,129,76,135,128,24,200,116,7,120,129,76,87,128,24,200,116,7,120,129,77,103,128,23,216,116,8,120,129,76,103,128,24,200,116,7,120,129,76,119,128,23,184,116,6,88,129,76,119,128,22,200,116,6,104,129,75,119,128,21,184,116,7,104,129,77,119,128,23,200,116,7,104,129,76,135,128,23,200,116,7,104,129,75,103,128,22,184,116,6,120,129,76,151,128,24,184,116,7,104,129,76,119,128,21,200,116,7,136,129,77,119,128,23,216,116,7,104,129,76,135,128,24,216,116,7,120,129,76,103,128,22,200,116,8,104,129,76,103,128,24,216,116,6,104,129,76,135,128,23,200,116,7,120,129,75,119,128,22,184,116,6,120,129,76,119,128,22,216,116,7,120,129,77,119,128,23,216,116,7,104,129,77,119,128,22,200,116,7,120,129,76,119,128,22,216,116,7,136,129,76,135,128,23,216,116,8,120,129,76,119,128,22,200,116,8,104,129,76,119,128,23,216,116,7,120,129,75,135,128,23,216,116,8,136,129,76,119,128,23,200,116,7,104,129,76,119,128,23,216,116,7,120,129,77,119,128,23,184,116,6,120,129,74,119,128,21,200,116,6,120,129,77,119,128,23,200,116,8,120,129,75,119,128,23,200,116,7,104,129,76,119,128,22,184,116,7,120,129,75,119,128,23,200,116,7,104,129,77,119,128,22,200,116,7,120,129,76,119,128,22,200,116,7,104,129,76,119,128,23,216,116,6,88,129,77,103,128,23,216,116,7,120,129,76,135,128,23,200,116,7,120,129,76,135,128,23,200,116,8,120,129,76,103,128,23,184,116,8,120,129,76,135,128,22,216,116,7,120,129,76,119,128,22,200,116,7,136,129,76,119,128,22,200,116,7,120,129,76,119,128,21,216,116,7,120,129,76,119,128,23,184,116,9,104,129,75,119,128,21,184,116,8,120,129,76,119,128,22,200,116,6,120,129,76,119,128,23,216,116,7,104,129,76,103,128,23,200,116,7,88,129,76,119,128,22,200,116,7,120,129,76,135,128,23,200,116,7,120,129,75,119,128,22,200,116,6,88,129,76,119,128,23,200,116,8,88,129,76,103,128,23,216,116,7,88,129,76,135,128,23,232,116,7,104,129,77,119,128,23,200,116,7,104,129,76,119,128,22,216,116,7,104,129,76,103,128,23,184,116,7,120,129,74,135,128,24,184,116,8,120,129,75,119,128,23,216,116,7,136,129,76,103,128,22,200,116,8,104,129,76,119,128,23,184,116,8,120,129,75,103,128,21,200,116,8,104,129,76,135,128,23,216,116,7,104,129,75,103,128,22,200,116,7,120,129,77,119,128,22,184,116,8,104,129,76,135,128,22,216,116,8,104,129,76,119,128,23,200,116,8,104,129,77,103,128,22,216,116,7,104,129,75,119,128,23,200,116,7,120,129,76,103,128,22,200,116,7,120,129,76,119,128,23,200,116,7,120,129,76,103,128,21,216,116,7,120,129,76,119,128,22,200,116,7,136,129,76,103,128,23,184,116,6,104,129,76,135,128,23,216,116,7,120,129,76,119,128,23,200,116,7,120,129,76,103,128,21,200,116,7,120,129,76,135,128,23,216,116,7,120,129,77,119,128,23,200,116,6,120,129,75,103,128,23,216,116,7,120,129,76,135,128,23,216,116,8,120,129,76,135,128,23,184,116,6,104,129,76,103,128,23,216,116,6,104,129,76,119,128,23,184,116,6,104,129,76,103,128,23,200,116,8,120,129,76,135,128,22,200,116,6,104,129,76,135,128,23,184,116,7,104,129,76,135,128,22,200,116,7,88,129,77,103,128,21,184,116,7,120,129,76,135,128,24,200,116,7,120,129,75,103,128,22,200,116,6,120,129,76,119,128,22,200,116,7,104,129,76,87,128,22,200,116,6,104,129,76,119,128,22,184,116,7,120,129,77,135,128,22,200,116,7,120,129,77,135,128,23,184,116,7,120,129,75,135,128,23,200,116,5,104,129,76,135,128,23,216,116,8,104,129,76,119,128,23,216,116,8,120,129,75,119,128,22,216,116,7,88,129,75,119,128,23,200,116,8,120,129,77,119,128,23,200,116,8,104,129,76,135,128,23,200,116,6,104,129,76,119,128,22,184,116,7,104,129,75,119,128,24,200,116,7,104,129,75,119,128,22,184,116,7,120,129,77,119,128,22,200,116,7,104,129,76,135,128,23,200,116,7,104,129,77,135,128,22,200,116,7,104,129,75,119,128,22,200,116,6,120,129,76,119,128,23,184,116,8,120,129,75,135,128,23,200,116,7,120,129,76,119,128,23,184,116,8,120,129,77,135,128,23,200,116,8,120,129,75,119,128,23,184,116,6,104,129,76,119,128,23,200,116,6,104,129,76,135,128,22,168,116,6,120,129,76,135,128,22,200,116,7,88,129,76,119,128,23,200,116,7,120,129,76,119,128,23,200,116,8,120,129,76,119,128,23,200,116,7,120,129,76,119,128,23,184,116,7,120,129,76,119,128,22,200,116,7,104,129,76,135,128,22,200,116,8,120,129,75,103,128,22,200,116,7,120,129,76,103,128,22,216,116,7,104,129,76,135,128,22,200,116,6,104,129,76,135,128,23,200,116,8,88,129,76,119,128,22,184,116,7,104,129,75,119,128,23,200,116,6,88,129,76,103,128,22,184,116,7,120,129,76,119,128,22,184,116,8,120,129,76,119,128,22,216,116,7,120,129,76,119,128,22,200,116,6,120,129,76,119,128,22,200,116,6,104,129,76,119,128,22,184,116,8,104,129,76,119,128,22,184,116,7,120,129,76,135,128,23,200,116,8,120,129,76,119,128,23,216,116,8,120,129,77,119,128,23,184,116,7,104,129,76,119,128,22,200,116,7,120,129,75,119,128,23,184,116,7,104,129,76,119,128,22,184,116,7,120,129,76,135,128,22,200,116,6,104,129,76,135,128,23,200,116,6,104,129,75,103,128,23,200,116,7,136,129,76,119,128,24,200,116,8,88,129,77,119,128,23,200,116,6,120,129,76,135,128,22,184,116,7,104,129,75,135,128,21,200,116,7,104,129,77,103,128,23,200,116,7,120,129,76,119,128,22,184,116,8,104,129,76,135,128,23,200,116,7,104,129,76,103,128,23,200,116,6,104,129,75,87,128,22,200,116,7,104,129,76,119,128,22,184,116,8,104,129,76,119,128,23,216,116,7,88,129,76,119,128,22,232,116,8,104,129,76,135,128,22,216,116,7,104,129,75,103,128,23,184,116,6,104,129,75,103,128,22,184,116,7,88,129,75,135,128,23,200,116,8,104,129,76,135,128,23,200,116,6,120,129,76,119,128,23,184,116,6,120,129,76,103,128,23,200,116,7,120,129,75,119,128,22,184,116,6,104,129,75,119,128,23,216,116,8,120,129,76,119,128,23,184,116,6,120,129,76,119,128,22,200,116,7,104,129,76,135,128,23,200,116,7,136,129,77,103,128,23,216,116,7,120,129,77,119,128,23,200,116,7,120,129,76,135,128,22,216,116,7,104,129,75,119,128,23,184,116,6,120,129,76,119,128,22,200,116,8,104,129,76,103,128,23,200,116,7,120,129,76,103,128,23,200,116,7,120,129,76,119,128,23,200,116,8,120,129,76,119,128,23,200,116,7,120,129,75,119,128,23,200,116,7,120,129,75,135,128,22,200,116,8,120,129,76,103,128,23,200,116,6,104,129,76,103,128,23,216,116,7,120,129,77,103,128,22,184,116,7,120,129,75,135,128,23,184,116,7,120,129,76,103,128,24,216,116,8,120,129,76,103,128,22,200,116,7,120,129,76,103,128,23,200,116,6,120,129,77,103,128,23,200,116,8,120,129,75,119,128,22,216,116,8,104,129,76,119,128,23,216,116,6,120,129,76,119,128,22,184,116,9,104,129,76,87,128,23,200,116,8,136,129,77,103,128,22,200,116,7,88,129,75,119,128,22,184,116,7,120,129,75,103,128,23,200,116,7,120,129,76,119,128,23,184,116,8,104,129,76,103,128,22,200,116,7,104,129,75,119,128,21,200,116,8,120,129,75,119,128,22,200,116,7,104,129,76,103,128,23,184,116,8,104,129,76,135,128,22,216,116,8,120,129,76,119,128,23,200,116,7,120,129,75,103,128,23,200,116,6,104,129,75,103,128,23,200,116,7,120,129,76,119,128,22,200,116,6,104,129,75,119,128,22,200,116,7,104,129,76,119,128,21,216,116,7,120,129,76,103,128,22,200,116,7,120,129,75,135,128,23,200,116,7,120,129,76,119,128,23,200,116,6,104,129,76,135,128,23,216,116,7,104,129,76,103,128,23,200,116,7,120,129,75,135,128,23,200,116,7,120,129,76,119,128,23,216,116,7,120,129,75,135,128,22,184,116,6,120,129,77,119,128,23,200,116,7,120,129,77,103,128,22,200,116,7,120,129,77,119,128,22,184,116,7,120,129,75,119,128,22,200,116,7,120,129,75,103,128,22,200,116,7,120,129,77,119,128,22,216,116,6,104,129,76,119,128,22,200,116,7,120,129,77,135,128,23,200,116,8,120,129,76,119,128,21,200,116,7,104,129,77,135,128,23,184,116,7,120,129,76,119,128,22,184,116,7,136,129,76,103,128,24,216,116,7,120,129,76,119,128,22,200,116,6,104,129,76,119,128,22,200,116,7,104,129,76,135,128,21,184,116,8,120,129,77,119,128,23,200,116,5,120,129,77,135,128,23,200,116,6,120,129,75,119,128,23,200,116,6,120,129,76,87,128,23,200,116,7,120,129,76,103,128,24,184,116,7,104,129,77,103,128,22,200,116,8,120,129,75,119,128,23,200,116,6,104,129,75,119,128,23,184,116,7,104,129,76,119,128,23,200,116,8,104,129,76,103,128,22,184,116,7,120,129,75,103,128,22,200,116,7,120,129,77,119,128,23,184,116,7,120,129,75,103,128,22,200,116,6,120,129,77,119,128,22,184,116,7,120,129,76,119,128,23,200,116,8,88,129,76,103,128,22,200,116,8,88,129,76,87,128,22,216,116,7,104,129,76,119,128,23,216,116,7,104,129,76,119,128,23,200,116,8,120,129,76,119,128,22,200,116,6,120,129,76,119,128,22,184,116,6,104,129,75,103,128,23,200,116,6,104,129,76,119,128,22,216,116,7,104,129,77,119,128,22,200,116,7,104,129,76,119,128,22,216,116,7,104,129,75,119,128,23,184,116,7,104,129,76,119,128,22,200,116,8,104,129,76,135,128,23,200,116,7,104,129,76,103,128,21,184,116,6,120,129,77,119,128,22,216,116,8,104,129,77,119,128,23,200,116,7,104,129,75,103,128,22,184,116,6,104,129,75,103,128,22,200,116,7,120,129,75,103,128,21,200,116,6,120,129,77,103,128,22,200,116,5,120,129,77,119,128,21,216,116,7,104,129,77,135,128,23,200,116,7,104,129,75,119,128,21,200,116,6,104,129,75,103,128,22,184,116,7,104,129,76,119,128,22,200,116,7,104,129,77,103,128,23,200,116,6,104,129,75,119,128,23,200,116,7,120,129,77,119,128,21,200,116,8,120,129,76,119,128,22,200,116,6,120,129,75,119,128,23,200,116,7,120,129,75,119,128,22,200,116,6,104,129,76,103,128,22,184,116,8,120,129,76,103,128,23,200,116,7,120,129,76,119,128,23,200,116,7,104,129,76,119,128,22,200,116,7,136,129,75,135,128,23,200,116,7,120,129,76,119,128,23,200,116,7,120,129,76,135,128,23,200,116,7,120,129,76,103,128,22,216,116,6,104,129,76,119,128,22,184,116,7,120,129,76,103,128,22,184,116,7,104,129,77,87,128,21,200,116,8,120,129,75,119,128,22,184,116,6,136,129,77,119,128,22,200,116,8,104,129,76,119,128,22,200,116,7,104,129,77,119,128,23,200,116,8,104,129,77,119,128,23,216,116,6,104,129,75,119,128,23,184,116,8,88,129,75,119,128,21,200,116,7,120,129,77,119,128,22,200,116,7,120,129,76,103,128,21,216,116,6,120,129,76,119,128,24,216,116,7,120,129,76,103,128,23,200,116,7,120,129,76,119,128,24,200,116,7,120,129,75,119,128,22,216,116,7,136,129,77,135,128,22,216,116,7,120,129,76,119,128,24,184,116,8,104,129,76,119,128,22,216,116,7,120,129,77,119,128,23,200,116,7,104,129,75,119,128,23,200,116,7,104,129,76,103,128,23,200,116,6,120,129,76,103,128,23,184,116,7,136,129,76,103,128,24,216,116,6,104,129,75,103,128,23,184,116,7,120,129,76,135,128,23,216,116,7,88,129,76,135,128,23,200,116,6,136,129,75,135,128,23,200,116,7,88,129,76,119,128,23,200,116,6,120,129,76,119,128,23,200,116,8,104,129,76,103,128,22,216,116,7,120,129,76,103,128,22,184,116,7,104,129,75,135,128,22,200,116,6,104,129,77,119,128,24,200,116,6,120,129,76,119,128,22,200,116,7,120,129,76,103,128,23,200,116,7,104,129,76,103,128,23,200,116,8,104,129,76,119,128,23,200,116,8,88,129,75,119,128,23,184,116,7,104,129,76,119,128,22,184,116,7,104,129,76,103,128,23,200,116,7,120,129,76,135,128,23,216,116,8,104,129,76,119,128,22,200,116,8,104,129,76,119,128,22,200,116,6,120,129,77,103,128,23,200,116,8,136,129,76,119,128,24,200,116,7,120,129,75,119,128,23,216,116,7,104,129,76,103,128,22,200,116,8,120,129,76,135,128,22,200,116,8,120,129,75,135,128,22,200,116,6,104,129,75,119,128,22,216,116,7,120,129,76,135,128,22,200,116,7,120,129,77,119,128,22,200,116,7,104,129,76,103,128,22,200,116,6,104,129,75,103,128,23,216,116,7,120,129,76,119,128,22,184,116,7,104,129,76,135,128,22,200,116,8,120,129,75,103,128,22,200,116,6,120,129,76,119,128,23,184,116,7,104,129,75,119,128,23,200,116,7,104,129,76,119,128,22,216,116,7,104,129,75,135,128,22,200,116,7,104,129,75,119,128,23,184,116,7,120,129,75,135,128,23,200,116,7,120,129,76,119,128,22,200,116,7,120,129,77,119,128,22,200,116,7,120,129,76,135,128,21,216,116,5,88,129,77,119,128,23,184,116,7,104,129,76,119,128,22,200,116,9,120,129,76,119,128,23,184,116,7,120,129,76,119,128,22,216,116,6,104,129,76,119,128,23,216,116,7,120,129,76,119,128,23,200,116,8,104,129,77,135,128,22,216,116,6,120,129,77,119,128,23,200,116,7,104,129,76,119,128,22,200,116,8,88,129,76,119,128,23,200,116,5,120,129,76,119,128,23,200,116,6,104,129,77,135,128,23,200,116,7,120,129,76,119,128,22,200,116,6,104,129,75,119,128,22,200,116,8,120,129,76,119,128,22,200,116,6,120,129,76,119,128,22,184,116,7,120,129,76,135,128,22,200,116,8,120,129,76,103,128,22,200,116,7,120,129,76,119,128,22,184,116,7,88,129,75,119,128,22,184,116,7,120,129,75,119,128,23,184,116,9,120,129,76,119,128,22,216,116,7,136,129,76,119,128,22,200,116,8,120,129,75,87,128,23,200,116,7,120,129,77,119,128,23,200,116,7,104,129,76,119,128,23,184,116,7,104,129,76,103,128,23,216,116,5,104,129,77,119,128,22,200,116,6,120,129,76,119,128,22,216,116,8,120,129,76,87,128,23,200,116,8,104,129,77,135,128,22,216,116,7,104,129,76,119,128,23,184,116,6,104,129,75,119,128,22,216,116,7,120,129,76,119,128,22,200,116,7,104,129,75,135,128,23,200,116,8,136,129,76,103,128,23,200,116,7,120,129,74,135,128,23,200,116,7,120,129,76,119,128,24,200,116,7,120,129,76,119,128,23,200,116,7,104,129,76,103,128,23,184,116,7,120,129,75,135,128,23,200,116,8,104,129,76,119,128,23,200,116,8,104,129,76,119,128,23,216,116,7,120,129,75,119,128,22,200,116,6,104,129,77,119,128,22,216,116,8,136,129,76,103,128,22,184,116,7,120,129,76,119,128,22,200,116,7,120,129,76,135,128,22,216,116,7,120,129,76,135,128,23,200,116,7,104,129,76,135,128,22,200,116,8,136,129,76,135,128,22,200,116,7,104,129,76,135,128,23,200,116,6,104,129,76,119,128,22,216,116,8,136,129,76,103,128,22,184,116,6,120,129,76,135,128,23,200,116,7,104,129,75,119,128,23,200,116,8,136,129,77,119,128,22,184,116,7,104,129,76,103,128,23,184,116,7,120,129,76,103,128,23,216,116,8,104,129,77,103,128,22,200,116,7,104,129,77,119,128,22,200,116,7,120,129,76,119,128,23,184,116,7,104,129,76,103,128,23,200,116,6,120,129,76,119,128,23,200,116,8,120,129,75,135,128,23,200,116,7,88,129,77,119,128,22,200,116,8,120,129,76,151,128,22,200,116,7,104,129,76,119,128,22,200,116,7,120,129,76,103,128,22,200,116,7,120,129,75,119,128,23,216,116,6,120,129,76,103,128,22,184,116,7,120,129,76,135,128,22,216,116,7,120,129,77,135,128,23,200,116,7,104,129,76,119,128,23,216,116,7,88,129,77,119,128,23,184,116,7,104,129,77,119,128,22,200,116,6,104,129,75,135,128,23,200,116,7,120,129,76,119,128,22,200,116,7,120,129,75,119,128,23,200,116,8,104,129,76,119,128,23,200,116,8,120,129,76,135,128,24,216,116,8,120,129,76,119,128,23,184,116,8,120,129,75,135,128,22,200,116,8,104,129,76,135,128,22,216,116,7,120,129,76,119,128,23,216,116,8,120,129,76,119,128,23,200,116,7,104,129,77,119,128,23,200,116,7,120,129,75,135,128,22,184,116,8,104,129,76,135,128,24,200,116,7,104,129,77,119,128,21,200,116,6,88,129,76,103,128,22,200,116,7,104,129,76,119,128,22,200,116,7,104,129,76,119,128,23,184,116,7,104,129,76,119,128,22,200,116,6,136,129,75,103,128,22,184,116,7,104,129,76,119,128,22,200,116,6,88,129,76,103,128,22,200,116,6,104,129,77,119,128,22,200,116,6,120,129,75,103,128,22,184,116,7,88,129,75,119,128,22,184,116,6,120,129,76,103,128,23,200,116,7,104,129,75,119,128,23,200,116,7,88,129,76,119,128,22,200,116,7,88,129,76,119,128,22,200,116,7,88,129,76,135,128,22,184,116,7,120,129,76,135,128,23,216,116,7,136,129,75,119,128,22,184,116,8,104,129,75,119,128,23,216,116,7,104,129,76,119,128,23,184,116,7,120,129,76,103,128,22,184,116,8,88,129,76,119,128,21,216,116,7,120,129,76,119,128,21,184,116,7,88,129,75,119,128,24,200,116,7,120,129,75,119,128,22,200,116,8,120,129,77,119,128,23,216,116,6,136,129,76,135,128,23,184,116,7,120,129,76,119,128,23,200,116,6,120,129,76,87,128,22,216,116,7,104,129,76,119,128,23,216,116,7,88,129,76,119,128,23,200,116,8,88,129,75,119,128,23,216,116,7,120,129,76,103,128,23,200,116,7,136,129,76,119,128,23,216,116,7,104,129,76,103,128,22,200,116,7,120,129,76,119,128,22,200,116,7,104,129,75,119,128,22,184,116,6,120,129,76,135,128,22,200,116,6,120,129,76,87,128,22,200,116,7,104,129,76,103,128,22,216,116,8,136,129,76,135,128,23,200,116,7,120,129,76,119,128,24,216,116,7,136,129,75,135,128,24,200,116,6,120,129,76,119,128,23,200,116,7,136,129,77,135,128,23,216,116,7,120,129,75,135,128,23,200,116,8,104,129,75,119,128,21,200,116,7,120,129,75,119,128,24,216,116,7,120,129,75,119,128,23,184,116,8,120,129,75,135,128,22,200,116,7,120,129,76,119,128,21,200,116,7,88,129,76,119,128,22,200,116,7,120,129,76,119,128,22,200,116,7,120,129,76,135,128,24,216,116,7,104,129,76,135,128,22,200,116,7,120,129,76,119,128,22,200,116,6,120,129,76,87,128,22,200,116,7,104,129,76,103,128,24,200,116,6,104,129,75,119,128,23,200,116,6,104,129,77,151,128,23,200,116,6,120,129,75,103,128,23,184,116,5,120,129,76,135,128,22,184,116,8,88,129,76,119,128,21,216,116,6,104,129,76,119,128,23,200,116,6,120,129,77,119,128,23,200,116,7,136,129,75,103,128,22,200,116,6,120,129,76,119,128,23,200,116,8,88,129,77,103,128,22,200,116,7,120,129,76,119,128,23,216,116,7,120,129,76,103,128,23,200,116,7,120,129,75,119,128,24,184,116,6,120,129,75,119,128,23,200,116,8,104,129,77,119,128,23,216,116,8,104,129,76,119,128,21,200,116,7,104,129,77,119,128,22,200,116,7,104,129,76,119,128,23,200,116,7,120,129,76,119,128,22,200,116,7,136,129,75,135,128,23,184,116,7,88,129,75,119,128,23,200,116,7,120,129,76,119,128,23,200,116,7,120,129,76,119,128,23,216,116,6,104,129,77,135,128,23,232,116,8,120,129,76,135,128,24,200,116,8,104,129,76,135,128,22,184,116,7,120,129,76,135,128,23,184,116,6,120,129,75,119,128,22,200,116,8,120,129,77,119,128,23,216,116,7,104,129,76,103,128,22,200,116,6,120,129,76,119,128,22,200,116,8,104,129,75,135,128,23,184,116,7,136,129,76,103,128,23,216,116,7,120,129,76,119,128,21,184,116,7,104,129,76,119,128,22,216,116,6,104,129,76,119,128,23,184,116,7,120,129,76,103,128,23,200,116,5,104,129,75,103,128,22,184,116,7,104,129,75,135,128,22,200,116,7,104,129,76,135,128,23,200,116,7,136,129,76,135,128,23,184,116,7,104,129,76,135,128,22,200,116,7,120,129,75,135,128,22,200,116,6,120,129,76,119,128,21,184,116,7,104,129,75,135,128,22,200,116,7,104,129,75,119,128,23,200,116,7,104,129,76,119,128,22,184,116,7,120,129,76,135,128,22,216,116,7,104,129,76,119,128,22,200,116,7,104,129,76,119,128,23,184,116,5,104,129,76,119,128,22,184,116,8,120,129,75,103,128,22,200,116,8,120,129,76,119,128,23,200,116,6,104,129,76,119,128,22,200,116,7,104,129,76,103,128,23,216,116,6,104,129,76,135,128,23,184,116,6,104,129,76,119,128,21,200,116,8,88,129,76,119,128,21,184,116,7,104,129,75,119,128,21,216,116,6,120,129,77,119,128,22,200,116,8,120,129,76,103,128,21,184,116,7,120,129,76,119,128,23,200,116,9,104,129,74,119,128,23,200,116,9,88,129,75,119,128,23,184,116,6,104,129,76,119,128,22,200,116,7,136,129,77,119,128,22,184,116,7,104,129,75,103,128,21,200,116,7,104,129,76,103,128,21,200,116,6,120,129,75,119,128,23,216,116,6,104,129,75,135,128,23,200,116,7,104,129,75,119,128,22,184,116,7,104,129,76,119,128,22,184,116,7,120,129,75,103,128,23,184,116,7,104,129,76,119,128,21,200,116,6,104,129,76,119,128,23,184,116,7,88,129,75,103,128,22,216,116,5,120,129,75,103,128,23,200,116,7,120,129,75,119,128,22,184,116,7,88,129,75,119,128,23,200,116,6,104,129,76,119,128,22,184,116,7,120,129,76,135,128,23,200,116,6,120,129,76,103,128,23,216,116,8,104,129,77,119,128,22,200,116,7,88,129,76,119,128,22,200,116,8,120,129,75,119,128,22,216,116,7,104,129,76,103,128,22,184,116,8,104,129,75,103,128,22,184,116,8,104,129,76,135,128,22,184,116,6,120,129,75,119,128,23,200,116,7,88,129,77,103,128,22,216,116,6,104,129,76,103,128,22,200,116,7,120,129,77,103,128,23,184,116,7,88,129,75,119,128,22,200,116,6,104,129,76,119,128,23,200,116,7,120,129,75,103,128,21,184,116,7,104,129,76,119,128,23,200,116,7,120,129,77,135,128,23,200,116,7,136,129,76,119,128,23,200,116,7,120,129,77,119,128,22,200,116,7,104,129,76,103,128,23,216,116,7,104,129,76,103,128,23,200,116,7,104,129,76,87,128,23,200,116,6,120,129,76,119,128,22,200,116,8,88,129,75,119,128,21,200,116,7,120,129,76,135,128,22,216,116,6,104,129,76,135,128,22,200,116,6,104,129,76,119,128,22,200,116,7,88,129,77,119,128,22,184,116,7,120,129,75,119,128,22,200,116,7,120,129,75,87,128,23,200,116,8,120,129,76,103,128,22,184,116,7,120,129,75,135,128,23,200,116,6,88,129,76,103,128,22,200,116,8,104,129,76,119,128,22,184,116,7,104,129,75,119,128,22,200,116,6,120,129,75,119,128,23,216,116,7,104,129,74,119,128,23,184,116,8,120,129,76,135,128,22,200,116,7,88,129,76,119,128,22,200,116,7,104,129,76,119,128,23,184,116,7,104,129,76,119,128,22,184,116,8,104,129,76,119,128,20,184,116,6,120,129,76,103,128,23,184,116,6,104,129,75,119,128,23,200,116,6,120,129,76,87,128,23,200,116,7,120,129,76,103,128,23,200,116,7,104,129,76,135,128,22,184,116,7,120,129,76,119,128,22,184,116,8,104,129,75,103,128,23,184,116,7,120,129,76,135,128,23,184,116,7,120,129,76,103,128,22,200,116,7,120,129,76,119,128,23,200,116,7,120,129,76,103,128,23,184,116,7,104,129,77,119,128,22,200,116,8,120,129,76,119,128,23,200,116,7,120,129,75,103,128,22,200,116,8,120,129,76,119,128,23,200,116,7,120,129,75,119,128,23,200,116,7,136,129,75,103,128,23,200,116,6,120,129,76,119,128,22,200,116,7,104,129,76,119,128,22,184,116,8,120,129,75,119,128,23,200,116,9,136,129,75,119,128,23,216,116,8,120,129,76,119,128,23,200,116,7,120,129,77,119,128,21,200,116,9,120,129,76,119,128,22,184,116,7,104,129,77,119,128,22,200,116,7,88,129,76,103,128,23,200,116,7,120,129,76,135,128,22,200,116,6,120,129,75,119,128,23,200,116,6,136,129,76,103,128,21,216,116,8,104,129,75,103,128,22,200,116,7,120,129,77,135,128,23,200,116,7,104,129,76,103,128,22,184,116,8,120,129,76,103,128,23,184,116,6,120,129,76,119,128,24,216,116,7,136,129,77,135,128,23,216,116,7,104,129,76,119,128,22,216,116,6,88,129,77,119,128,23,200,116,6,120,129,77,135,128,22,216,116,8,120,129,76,119,128,23,200,116,8,120,129,77,119,128,22,200,116,7,104,129,76,119,128,23,184,116,7,120,129,76,103,128,22,200,116,8,120,129,76,119,128,23,200,116,7,120,129,76,119,128,22,184,116,7,120,129,77,119,128,22,216,116,7,104,129,76,103,128,22,200,116,8,88,129,76,103,128,22,200,116,8,120,129,76,119,128,23,200,116,8,104,129,76,119,128,23,184,116,7,104,129,76,135,128,22,184,116,5,120,129,76,119,128,23,200,116,7,120,129,77,151,128,23,200,116,7,104,129,77,135,128,22,216,116,8,104,129,75,119,128,23,200,116,8,120,129,76,119,128,23,216,116,7,120,129,76,135,128,23,200,116,6,104,129,76,135,128,23,200,116,7,136,129,76,103,128,23,216,116,7,104,129,77,119,128,23,200,116,6,104,129,77,135,128,23,200,116,7,104,129,76,135,128,23,200,116,7,104,129,76,119,128,22,200,116,7,104,129,75,119,128,22,184,116,6,120,129,76,135,128,22,200,116,8,120,129,75,135,128,23,216,116,6,136,129,76,103,128,23,200,116,7,104,129,75,119,128,23,200,116,8,120,129,76,103,128,23,200,116,7,120,129,75,103,128,22,200,116,7,104,129,75,103,128,21,184,116,7,104,129,76,119,128,23,200,116,7,120,129,76,103,128,23,184,116,7,104,129,76,103,128,23,216,116,7,120,129,76,151,128,23,200,116,6,120,129,76,135,128,23,184,116,8,104,129,75,119,128,22,200,116,7,104,129,76,135,128,22,200,116,6,120,129,75,119,128,23,216,116,7,104,129,75,135,128,22,200,116,7,104,129,76,103,128,23,216,116,7,120,129,76,119,128,22,216,116,6,104,129,76,119,128,23,184,116,8,120,129,76,119,128,21,200,116,7,88,129,77,119,128,22,200,116,8,104,129,75,135,128,22,200,116,6,104,129,76,119,128,22,184,116,8,104,129,75,119,128,23,184,116,7,120,129,74,119,128,23,200,116,8,136,129,76,103,128,23,184,116,7,120,129,76,135,128,22,200,116,7,104,129,76,135,128,23,200,116,6,88,129,76,135,128,23,184,116,7,120,129,75,103,128,23,200,116,8,104,129,77,119,128,23,200,116,8,120,129,76,135,128,22,184,116,7,104,129,76,119,128,22,200,116,7,120,129,76,135,128,23,200,116,6,120,129,76,135,128,23,184,116,7,104,129,76,135,128,22,200,116,8,104,129,75,135,128,23,200,116,7,104,129,76,103,128,23,216,116,7,120,129,76,119,128,22,200,116,7,120,129,76,135,128,23,200,116,7,104,129,75,135,128,22,184,116,8,104,129,75,119,128,22,200,116,7,104,129,77,119,128,23,216,116,8,104,129,77,119,128,22,200,116,6,104,129,75,119,128,23,200,116,7,120,129,77,135,128,23,216,116,7,120,129,76,135,128,23,200,116,6,120,129,76,135,128,24,200,116,8,120,129,76,119,128,23,216,116,8,120,129,76,119,128,22,200,116,7,104,129,75,135,128,23,216,116,7,104,129,77,119,128,23,184,116,8,120,129,76,119,128,22,200,116,7,88,129,75,119,128,22,184,116,7,104,129,76,119,128,24,200,116,8,104,129,76,135,128,23,216,116,8,88,129,76,103,128,22,216,116,8,104,129,75,119,128,22,184,116,8,120,129,76,135,128,21,184,116]","payloadType":"bin","x":150,"y":680,"wires":[["8092dbfe.fde7f8"]]},{"id":"44ce0365.06957c","type":"inject","z":"301437f3.4f6bb8","name":"Report - Accelerometer 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[255,0,151,155,192,214,161,47,0,0,220,255,177,0,7,253,110,255,224,0,73,253,150,255,191,0,51,253,187,255,188,0,9,253,192,255,188,0,240,252,199,255,188,0,228,252,195,255,182,0,223,252,199,255,184,0,223,252,198,255,184,0,227,252,199,255,184,0,225,252,199,255,184,0,227,252,201,255,184,0,231,252,199,255,188,0,230,252,196,255,184,0,231,252,200,255,183,0,232,252,199,255,179,0,227,252,204,255,184,0,231,252,201,255,182,0,231,252,204,255,184,0,231,252,201,255,184,0,232,252,203,255,183,0,231,252,200,255,183,0,231,252,195,255,184,0,231,252,200,255,184,0,230,252,199,255,182,0,227,252,201,255,183,0,228,252,204,255,183,0,232,252,207,255,179,0,227,252,206,255,176,0,228,252,206,255,179,0,232,252,203,255,184,0,231,252,199,255,184,0,231,252,201,255,183,0,231,252,199,255,179,0,227,252,201,255,183,0,231,252,201,255,183,0,231,252,204,255,184,0,227,252,207,255,184,0,228,252,207,255,182,0,230,252,204,255,179,0,232,252,201,255,180,0,235,252,201,255,183,0,232,252,199,255,179,0,227,252,201,255,184,0,231,252,200,255,184,0,231,252,199,255,185,0,228,252,200,255,182,0,236,252,201,255,182,0,232,252,200,255,182,0,231,252,199,255,179,0,231,252,200,255,180,0,235,252,199,255,179,0,230,252,201,255,182,0,231,252,201,255,182,0,231,252,199,255,184,0,231,252,200,255,183,0,231,252,203,255,184,0,225,252,200,255,184,0,231,252,196,255,184,0,233,252,201,255,182,0,232,252,199,255,176,0,230,252,204,255,179,0,231,252,200,255,184,0,231,252,199,255,184,0,230,252,200,255,184,0,231,252,199,255,182,0,225,252,200,255,182,0,228,252,199,255,183,0,231,252,199,255,182,0,236,252,198,255,179,0,230,252,200,255,184,0,233,252,200,255,184,0,231,252,201,255,184,0,228,252,201,255,184,0,235,252,200,255,183,0,231,252,204,255,184,0,232,252,200,255,179,0,231,252,200,255,182,0,228,252,200,255,182,0,227,252,200,255,182,0,231,252,200,255,182,0,227,252,204,255,182,0,230,252,199,255,184,0,231,252,203,255,184,0,231,252,204,255,182,0,231,252,204,255,176,0,231,252,204,255,182,0,231,252,204,255,179,0,225,252,204,255,183,0,230,252,200,255,183,0,230,252,201,255,184,0,230,252,199,255,184,0,230,252,200,255,182,0,230,252,199,255,183,0,232,252,199,255,176,0,233,252,200,255,182,0,231,252,201,255,184,0,227,252,203,255,183,0,231,252,199,255,182,0,230,252,204,255,183,0,231,252,199,255,182,0,231,252,199,255,184,0,231,252,201,255,182,0,231,252,200,255,177,0,230,252,204,255,184,0,231,252,199,255,179,0,230,252,201,255,184,0,233,252,198,255,179,0,231,252,203,255,184,0,231,252,201,255,177,0,230,252,203,255,184,0,231,252,201,255,184,0,231,252,203,255,184,0,227,252,200,255,184,0,231,252,201,255,183,0,231,252,203,255,183,0,231,252,200,255,179,0,231,252,201,255,182,0,230,252,204,255,180,0,227,252,204,255,183,0,231,252,201,255,184,0,231,252,199,255,184,0,231,252,200,255,184,0,231,252,204,255,183,0,227,252,204,255,184,0,231,252,199,255,179,0,231,252,200,255,182,0,231,252,201,255,176,0,231,252,200,255,184,0,230,252,204,255,183,0,227,252,204,255,184,0,227,252,200,255,184,0,231,252,201,255,182,0,231,252,201,255,184,0,230,252,199,255,177,0,231,252,203,255,184,0,231,252,204,255,180,0,231,252,204,255,182,0,231,252,203,255,180,0,231,252,204,255,179,0,227,252,201,255,183,0,231,252,200,255,182,0,231,252,200,255,183,0,232,252,198,255,180,0,231,252,201,255,184,0,231,252,203,255,179,0,231,252,199,255,184,0,230,252,201,255,185,0,235,252,200,255,184,0,231,252,199,255,184,0,231,252,200,255,183,0,231,252,201,255,184,0,231,252,199,255,180,0,231,252,204,255,184,0,231,252,201,255,176,0,231,252,200,255,184,0,231,252,201,255,184,0,231,252,204,255,182,0,227,252,204,255,184,0,231,252,204,255,179,0,231,252,203,255,179,0,236,252,200,255,177,0,233,252,201,255,184,0,231,252,201,255,179,0,235,252,200,255,184,0,233,252,200,255,183,0,231,252,204,255,183,0,225,252,199,255,184,0,230,252,200,255,182,0,231,252,201,255,184,0,231,252,199,255,176,0,230,252,204,255,182,0,230,252,201,255,183,0,233,252,204,255,187,0,230,252,203,255,184,0,230,252,199,255,184,0,231,252,204,255,182,0,230,252,206,255,182,0,230,252,204,255,182,0,232,252,200,255,179,0,233,252,201,255,184,0,232,252,200,255,176,0,231,252,203,255,184,0,232,252,200,255,182,0,231,252,201,255,179,0,232,252,199,255,176,0,232,252,200,255,182,0,231,252,201,255,183,0,230,252,203,255,183,0,227,252,200,255,184,0,231,252,204,255,184,0,227,252,203,255,184,0,231,252,200,255,184,0,231,252,200,255,184,0,231,252,198,255,179,0,231,252,201,255,184,0,231,252,199,255,184,0,236,252,201,255,182,0,227,252,204,255,182,0,230,252,201,255,180,0,227,252,203,255,182,0,232,252,204,255,179,0,236,252,200,255,179,0,235,252,195,255,179,0,232,252,200,255,184,0,232,252,200,255,184,0,235,252,200,255,182,0,231,252,200,255,184,0,233,252,200,255,184,0,230,252,201,255,179,0,231,252,201,255,182,0,233,252,201,255,182,0,236,252,199,255,179,0,231,252,200,255,184,0,230,252,204,255,183,0,231,252,203,255,179,0,231,252,200,255,179,0,231,252,201,255,182,0,230,252,199,255,184,0,231,252,204,255,183,0,236,252,200,255,184,0,236,252,198,255,179,0,231,252,199,255,183,0,231,252,199,255,184,0,230,252,200,255,182,0,227,252,199,255,184,0,232,252,206,255,182,0,230,252,201,255,182,0,232,252,200,255,180,0,231,252,203,255,183,0,232,252,199,255,179,0,235,252,204,255,183,0,231,252,204,255,184,0,233,252,200,255,179,0,231,252,199,255,180,0,231,252,206,255,180,0,227,252,201,255,184,0,230,252,199,255,184,0,231,252,201,255,184,0,231,252,199,255,179,0,231,252,201,255,183,0,233,252,204,255,179,0,232,252,203,255,176,0,227,252,200,255,182,0,231,252,203,255,182,0,227,252,204,255,182,0,231,252,199,255,184,0,231,252,200,255,182,0,231,252,196,255,179,0,232,252,199,255,184,0,230,252,200,255,183,0,230,252,200,255,179,0,225,252,201,255,182,0,231,252,204,255,179,0,227,252,201,255,184,0,231,252,199,255,184,0,231,252,203,255,184,0,231,252,196,255,180,0,231,252,203,255,184,0,231,252,201,255,182,0,231,252,201,255,177,0,228,252,201,255,183,0,233,252,201,255,179,0,227,252,204,255,179,0,232,252,199,255,179,0,235,252,201,255,183,0,233,252,199,255,179,0,231,252,201,255,184,0,235,252,200,255,182,0,233,252,203,255,179,0,227,252,201,255,182,0,231,252,204,255,179,0,227,252,201,255,184,0,231,252,198,255,180,0,231,252,198,255,184,0,231,252,201,255,183,0,231,252,201,255,179,0,230,252,199,255,177,0,231,252,200,255,180,0,230,252,199,255,176,0,227,252,203,255,184,0,231,252,201,255,184,0,231,252,201,255,183,0,227,252,198,255,182,0,231,252,200,255,184,0,232,252,200,255,184,0,235,252,195,255,182,0,233,252,199,255,184,0,231,252,198,255,179,0,230,252,206,255,183,0,231,252,204,255,182,0,231,252,200,255,184,0,230,252,198,255,184,0,228,252,201,255,184,0,231,252,199,255,184,0,231,252,196,255,179,0,231,252,200,255,184,0,232,252,198,255,182,0,231,252,201,255,183,0,231,252,204,255,182,0,231,252,204,255,182,0,231,252,201,255,184,0,231,252,200,255,182,0,231,252,200,255,182,0,231,252,199,255,182,0,230,252,204,255,183,0,231,252,201,255,177,0,227,252,204,255,182,0,231,252,204,255,182,0,231,252,204,255,184,0,231,252,201,255,184,0,233,252,200,255,182,0,233,252,204,255,183,0,231,252,198,255,179,0,231,252,199,255,184,0,231,252,199,255,179,0,230,252,204,255,182,0,231,252,201,255,179,0,231,252,204,255,182,0,231,252,204,255,183,0,231,252,200,255,184,0,231,252,201,255,184,0,232,252,199,255,180,0,230,252,203,255,183,0,230,252,199,255,179,0,230,252,201,255,184,0,233,252,204,255,184,0,232,252,201,255,184,0,233,252,203,255,183,0,231,252,201,255,182,0,231,252,200,255,180,0,231,252,199,255,176,0,231,252,203,255,180,0,231,252,199,255,178,0,227,252,200,255,184,0,232,252,199,255,179,0,231,252,204,255,180,0,228,252,201,255,183,0,231,252,201,255,182,0,231,252,201,255,184,0,231,252,198,255,179,0,231,252,203,255,184,0,230,252,204,255,184,0,236,252,201,255,179,0,231,252,201,255,180,0,231,252,199,255,180,0,231,252,200,255,184,0,230,252,199,255,177,0,230,252,200,255,184,0,231,252,201,255,182,0,231,252,203,255,184,0,227,252,199,255,182,0,231,252,200,255,184,0,228,252,200,255,184,0,231,252,199,255,179,0,231,252,200,255,184,0,231,252,199,255,182,0,227,252,201,255,183,0,231,252,200,255,183,0,231,252,204,255,182,0,225,252,204,255,182,0,233,252,201,255,182,0,230,252,201,255,184,0,236,252,199,255,179,0,231,252,201,255,184,0,232,252,199,255,177,0,231,252,199,255,184,0,230,252,204,255,179,0,231,252,204,255,184,0,227,252,201,255,180,0,231,252,204,255,182,0,231,252,201,255,184,0,231,252,201,255,179,0,228,252,204,255,184,0,231,252,201,255,179,0,227,252,201,255,182,0,231,252,196,255,179,0,231,252,201,255,183,0,231,252,199,255,177,0,227,252,204,255,184,0,231,252,201,255,184,0,232,252,204,255,184,0,230,252,199,255,184,0,232,252,200,255,183,0,228,252,204,255,184,0,231,252,200,255,179,0,232,252,201,255,184,0,232,252,204,255,179,0,227,252,204,255,177,0,231,252,204,255,179,0,231,252,201,255,184,0,231,252,201,255,184,0,232,252,203,255,183,0,230,252,200,255,184,0,230,252,199,255,180,0,231,252,204,255,182,0,231,252,204,255,177,0,225,252,204,255,180,0,230,252,204,255,183,0,228,252,201,255,179,0,227,252,201,255,183,0,231,252,199,255,184,0,230,252,201,255,182,0,231,252,196,255,179,0,231,252,199,255,184,0,231,252,199,255,180,0,231,252,204,255,182,0,232,252,204,255,180,0,230,252,204,255,182,0,225,252,201,255,182,0,227,252,201,255,184,0,227,252,199,255,184,0,231,252,198,255,179,0,230,252,199,255,184,0,227,252,201,255,179,0,231,252,199,255,184,0,231,252,203,255,179,0,231,252,201,255,183,0,227,252,201,255,184,0,231,252,204,255,182,0,233,252,203,255,184,0,231,252,196,255,179,0,231,252,200,255,183,0,231,252,201,255,179,0,230,252,201,255,183,0,231,252,201,255,182,0,231,252,200,255,183,0,230,252,204,255,179,0,232,252,204,255,182,0,233,252,204,255,184,0,231,252,200,255,179,0,231,252,199,255,180,0,231,252,201,255,177,0,231,252,204,255,180,0,231,252,201,255,184,0,231,252,201,255,184,0,228,252,204,255,184,0,231,252,203,255,184,0,230,252,200,255,188,0,231,252,196,255,179,0,231,252,201,255,183,0,232,252,203,255,176,0,231,252,204,255,184,0,231,252,204,255,183,0,231,252,204,255,184,0,227,252,199,255,182,0,230,252,204,255,182,0,231,252,201,255,184,0,232,252,199,255,176,0,232,252,204,255,183,0,228,252,204,255,179,0,230,252,200,255,187,0,231,252,201,255,184,0,230,252,204,255,179,0,225,252,199,255,179,0,231,252,204,255,182,0,231,252,200,255,184,0,231,252,199,255,179,0,235,252,200,255,184,0,231,252,199,255,179,0,230,252,201,255,184,0,231,252,200,255,182,0,235,252,201,255,179,0,227,252,199,255,179,0,231,252,203,255,182,0,231,252,203,255,184,0,231,252,198,255,182,0,236,252,204,255,182,0,231,252,200,255,177,0,235,252,201,255,182,0,227,252,201,255,184,0,228,252,199,255,184,0,231,252,199,255,182,0,231,252,200,255,184,0,231,252,201,255,183,0,231,252,199,255,179,0,227,252,200,255,184,0,230,252,200,255,184,0,227,252,201,255,182,0,231,252,204,255,182,0,231,252,200,255,182,0,233,252,199,255,182,0,231,252,200,255,184,0,230,252,199,255,182,0,231,252,199,255,179,0,227,252,199,255,183,0,230,252,201,255,183,0,230,252,201,255,184,0,233,252,200,255,184,0,232,252,201,255,183,0,231,252,199,255,180,0,231,252,200,255,184,0,231,252,200,255,182,0,231,252,200,255,176,0,230,252,201,255,184,0,232,252,204,255,184,0,227,252,201,255,183,0,233,252,201,255,182,0,231,252,199,255,182,0,233,252,198,255,179,0,231,252,200,255,184,0,227,252,201,255,182,0,227,252,200,255,179,0,227,252,203,255,184,0,233,252,203,255,184,0,227,252,203,255,184,0,233,252,201,255,182,0,231,252,201,255,184,0,231,252,199,255,182,0,232,252,200,255,184,0,231,252,204,255,182,0,230,252,204,255,183,0,231,252,201,255,182,0,227,252,198,255,182,0,231,252,200,255,184,0,231,252,200,255,184,0,232,252,195,255,182,0,235,252,199,255,184,0,231,252,204,255,179,0,228,252,204,255,182,0,231,252,203,255,179,0,228,252,203,255,179,0,227,252,200,255,180,0,233,252,203,255,182,0,231,252,201,255,184,0,227,252,199,255,179,0,230,252,201,255,184,0,231,252,200,255,182,0,225,252,201,255,184,0,231,252,201,255,184,0,227,252,204,255,184,0,227,252,199,255,183,0,235,252,200,255,184,0,238,252,201,255,180,0,232,252,198,255,182,0,232,252,204,255,184,0,232,252,201,255,182,0,228,252,204,255,183,0,231,252,200,255,184,0,232,252,204,255,179,0,230,252,198,255,182,0,231,252,201,255,182,0,231,252,201,255,184,0,230,252,200,255,182,0,230,252,201,255,184,0,230,252,201,255,179,0,227,252,200,255,182,0,231,252,200,255,182,0,230,252,200,255,182,0,227,252,197,255,184,0,231,252,201,255,184,0,231,252,200,255,183,0,231,252,199,255,182,0,231,252,200,255,182,0,230,252,203,255,179,0,227,252,203,255,184,0,231,252,201,255,183,0,231,252,199,255,182,0,228,252,198,255,184,0,232,252,199,255,184,0,233,252,204,255,182,0,231,252,203,255,177,0,231,252,200,255,180,0,231,252,200,255,179,0,227,252,201,255,182,0,231,252,204,255,184,0,231,252,200,255,183,0,225,252,198,255,184,0,235,252,198,255,184,0,233,252,203,255,182,0,231,252,200,255,183,0,232,252,199,255,182,0,231,252,200,255,183,0,232,252,204,255,180,0,231,252,201,255,177,0,231,252,200,255,179,0,230,252,204,255,179,0,230,252,201,255,180,0,231,252,200,255,184,0,231,252,200,255,183,0,235,252,199,255,184,0,232,252,201,255,182,0,232,252,201,255,182,0,231,252,201,255,180,0,231,252,200,255,182,0,231,252,200,255,179,0,230,252,201,255,184,0,231,252,200,255,184,0,231,252,201,255,184,0,231,252,200,255,182,0,231,252,204,255,182,0,230,252,201,255,182,0,231,252,203,255,179,0,231,252,203,255,180,0,231,252,201,255,179,0,231,252,201,255,183,0,235,252,199,255,182,0,231,252,199,255,182,0,231,252,200,255,184,0,233,252,200,255,182,0,232,252,203,255,182,0,230,252,199,255,179,0,231,252,204,255,182,0,230,252,203,255,179,0,225,252,200,255,183,0,231,252,199,255,180,0,231,252,203,255,183,0,235,252,198,255,183,0,235,252,200,255,183,0,231,252,203,255,184,0,230,252,196,255,180,0,231,252,199,255,184,0,231,252,200,255,180,0,227,252,199,255,184,0,231,252,199,255,182,0,231,252,201,255,184,0,230,252,199,255,184,0,231,252,199,255,182,0,230,252,198,255,183,0,227,252,199,255,179,0,225,252,204,255,183,0,230,252,201,255,179,0,227,252,199,255,184,0,231,252,199,255,184,0,228,252,204,255,183,0,231,252,200,255,184,0,230,252,201,255,184,0,232,252,199,255,182,0,231,252,199,255,182,0,228,252,201,255,184,0,231,252,203,255,179,0,227,252,201,255,182,0,231,252,200,255,183,0,231,252,200,255,184,0,231,252,199,255,184,0,231,252,201,255,184,0,231,252,199,255,182,0,231,252,198,255,179,0,231,252,203,255,184,0,231,252,201,255,179,0,224,252,203,255,184,0,227,252,195,255,184,0,228,252,201,255,182,0,233,252,199,255,183,0,233,252,201,255,183,0,231,252,201,255,183,0,231,252,198,255,182,0,230,252,201,255,184,0,231,252,201,255,179,0,227,252,204,255,179,0,231,252,203,255,184,0,232,252,201,255,182,0,233,252,199,255,183,0,230,252,201,255,184,0,231,252,199,255,184,0,231,252,195,255,183,0,227,252,199,255,184,0,230,252,204,255,179,0,224,252,204,255,180,0,230,252,206,255,183,0,231,252,203,255,183,0,231,252,199,255,182,0,231,252,201,255,182,0,231,252,200,255,184,0,231,252,195,255,180,0,227,252,199,255,185,0,231,252,201,255,184,0,230,252,201,255,180,0,231,252,203,255,182,0,231,252,199,255,184,0,231,252,199,255,184,0,230,252,200,255,188,0,231,252,198,255,179,0,232,252,200,255,179,0,231,252,199,255,176,0,231,252,201,255,180,0,233,252,201,255,182,0,233,252,204,255,184,0,230,252,201,255,183,0,232,252,204,255,183,0,227,252,201,255,184,0,231,252,201,255,183,0,231,252,199,255,183,0,227,252,203,255,179,0,231,252,204,255,182,0,230,252,201,255,184,0,231,252,195,255,182,0,231,252,200,255,184,0,230,252,198,255,179,0,231,252,199,255,182,0,230,252,204,255,183,0,231,252,201,255,182,0,228,252,201,255,184,0,227,252,200,255,184,0,224,252,203,255,184,0,230,252,199,255,184,0,233,252,204,255,183,0,235,252,195,255,182,0,232,252,199,255,184,0,231,252,200,255,182,0,228,252,207,255,176,0,225,252,201,255,182,0,231,252,204,255,184,0,225,252,204,255,184,0,231,252,200,255,177,0,231,252,207,255,182,0,231,252,199,255,179,0,231,252,201,255,184,0,231,252,204,255,182,0,230,252,201,255,179,0,227,252,200,255,184,0,232,252,204,255,182,0,227,252,201,255,182,0,230,252,199,255,177,0,231,252,201,255,183,0,231,252,195,255,179,0,233,252,201,255,184,0,233,252,204,255,182,0,232,252,201,255,177,0,227,252,201,255,182,0,230,252,204,255,179,0,228,252,201,255,183,0,230,252,199,255,184,0,230,252,200,255,184,0,230,252,199,255,182,0,231,252,200,255,184,0,231,252,200,255,182,0,231,252,201,255,183,0,228,252,204,255,184,0,233,252,201,255,177,0,228,252,201,255,184,0,231,252,199,255,184,0,231,252,204,255,184,0,233,252,199,255,180,0,232,252,200,255,183,0,231,252,201,255,183,0,235,252,203,255,179,0,228,252,201,255,184,0,236,252,201,255,184,0,231,252,200,255,184,0,231,252,199,255,184,0,231,252,201,255,182,0,230,252,196,255,179,0,231,252,200,255,184,0,230,252,200,255,179,0,228,252,204,255,179,0,227,252,201,255,184,0,231,252,204,255,182,0,231,252,203,255,184,0,233,252,198,255,185,0,231,252,200,255,184,0,231,252,199,255,177,0,231,252,201,255,184,0,232,252,199,255,184,0,231,252,201,255,182,0,231,252,200,255,184,0,236,252,203,255,182,0,231,252,201,255,182,0,228,252,199,255,179,0,231,252,201,255,182,0,231,252,198,255,184,0,232,252,201,255,184,0,233,252,200,255,182,0,231,252,200,255,179,0,227,252,200,255,177,0,231,252,204,255,183,0,233,252,204,255,180,0,231,252,203,255,180,0,227,252,204,255,184,0,231,252,201,255,184,0,230,252,201,255,184,0,235,252,196,255,182,0,236,252,200,255,184,0,233,252,199,255,179,0,231,252,203,255,184,0,231,252,204,255,184,0,231,252,201,255,179,0,227,252,201,255,182,0,231,252,201,255,184,0,227,252,201,255,184,0,233,252,200,255,182,0,231,252,201,255,184,0,231,252,199,255,180,0,232,252,200,255,184,0,232,252,201,255,183,0,231,252,204,255,182,0,227,252,201,255,184,0,231,252,199,255,184,0,233,252,199,255,184,0,231,252,199,255,180,0,231,252,203,255,183,0,227,252,199,255,182,0,227,252,201,255,184,0,231,252,201,255,182,0,231,252,203,255,179,0,230,252,200,255,180,0,231,252,200,255,183,0,230,252,199,255,182,0,230,252,199,255,183,0,231,252,201,255,182,0,232,252,199,255,177,0,231,252,201,255,182,0,227,252,201,255,183,0,231,252,204,255,179,0,228,252,204,255,182,0,230,252,201,255,182,0,231,252,200,255,184,0,231,252,195,255,184,0,231,252,199,255,183,0,231,252,198,255,179,0,231,252,200,255,184,0,231,252,199,255,182,0,232,252,204,255,179,0,231,252,200,255,184,0,231,252,204,255,183,0,231,252,199,255,184,0,231,252,198,255,182,0,231,252,200,255,184,0,231,252,199,255,179,0,232,252,204,255,180,0,231,252,203,255,180,0,231,252,204,255,182,0,227,252,201,255,182,0,231,252,201,255,184,0,230,252,203,255,184,0,233,252,199,255,184,0,231,252,200,255,184,0,231,252,199,255,176,0,231,252,201,255,184,0,231,252,204,255,182,0,231,252,204,255,179,0,227,252,203,255,184,0,231,252,204,255,182,0,230,252,204,255,184,0,233,252,199,255,184,0,235,252,201,255,184,0,233,252,199,255,180,0,231,252,201,255,184,0,228,252,201,255,183,0,230,252,204,255,179,0,228,252,204,255,182,0,231,252,204,255,182,0,227,252,199,255,184,0,231,252,198,255,184,0,230,252,200,255,184,0,235,252,199,255,176,0,231,252,204,255,179,0,231,252,203,255,182,0,231,252,201,255,183,0,227,252,200,255,184,0,233,252,201,255,183,0,227,252,201,255,182,0,228,252,204,255,184,0,231,252,207,255,177,0,230,252,201,255,182,0,231,252,200,255,182,0,227,252,200,255,183,0,231,252,200,255,182,0,233,252,204,255,180,0,231,252,204,255,176,0,231,252,203,255,182,0,231,252,200,255,183,0,231,252,203,255,184,0,225,252,199,255,182,0,231,252,200,255,183,0,236,252,200,255,184,0,233,252,198,255,179,0,233,252,201,255,184,0,231,252,199,255,179,0,227,252,199,255,183,0,233,252,201,255,182,0,233,252,203,255,184,0,231,252,200,255,182,0,231,252,199,255,184,0,231,252,200,255,184,0,227,252,199,255,177,0,231,252,201,255,182,0,228,252,200,255,179,0,227,252,201,255,183,0,231,252,200,255,184,0,232,252,204,255,184,0,231,252,199,255,184,0,231,252,203,255,184,0,235,252,199,255,184,0,231,252,198,255,179,0,231,252,200,255,182,0,231,252,195,255,180,0,230,252,200,255,184,0,231,252,204,255,184,0,233,252,204,255,180,0,227,252,201,255,179,0,231,252,204,255,182,0,231,252,200,255,184,0,231,252,198,255,179,0,232,252,200,255,183,0,231,252,196,255,179,0,227,252,203,255,183,0,231,252,201,255,182,0,231,252,204,255,184,0,227,252,199,255,183,0,231,252,204,255,179,0,230,252,203,255,184,0,231,252,199,255,179,0,231,252,201,255,184,0,231,252,198,255,179,0,230,252,203,255,183,0,228,252,204,255,179,0,231,252,204,255,183,0,231,252,198,255,183,0,231,252,200,255,180,0,231,252,200,255,184,0,231,252,198,255,182,0,231,252,204,255,184,0,231,252,198,255,180,0,228,252,201,255,184,0,231,252,204,255,183,0,231,252,204,255,183,0,227,252,200,255,184,0,230,252,200,255,184,0,233,252,199,255,184,0,232,252,198,255,184,0,236,252,201,255,184,0,233,252,199,255,179,0,227,252,204,255,179,0,227,252,201,255,183,0,230,252,200,255,184,0,225,252,201,255,182,0,230,252,204,255,183,0,231,252,203,255,184,0,230,252,199,255,183,0,231,252,201,255,182,0,231,252,198,255,179,0,227,252,200,255,180,0,231,252,204,255,180,0,231,252,204,255,182,0,231,252,204,255,182,0,231,252,201,255,184,0,228,252,203,255,182,0,230,252,199,255,179,0,230,252,204,255,182,0,230,252,199,255,176,0,227,252,199,255,184,0,232,252,204,255,180,0,232,252,206,255,179,0,231,252,201,255,184,0,232,252,199,255,184,0,236,252,199,255,187,0,232,252,196,255,179,0,231,252,200,255,182,0,233,252,200,255,177,0,231,252,203,255,184,0,236,252,201,255,184,0,231,252,199,255,182,0,225,252,201,255,184,0,228,252,200,255,185,0,231,252,200,255,184,0,231,252,199,255,179,0,228,252,204,255,184,0,227,252,199,255,180,0,230,252,203,255,180,0,231,252,200,255,179,0,230,252,204,255,183,0,227,252,199,255,182,0,227,252,201,255,182,0,231,252,200,255,183,0,231,252,200,255,184,0,233,252,201,255,184,0,231,252,204,255,183,0,236,252,203,255,182,0,232,252,199,255,179,0,227,252,201,255,180,0,231,252,204,255,179,0,225,252,204,255,184,0,231,252,200,255,180,0,235,252,201,255,184,0,235,252,199,255,180,0,232,252,200,255,184,0,230,252,201,255,183,0,230,252,204,255,179,0,227,252,204,255,182,0,231,252,206,255,180,0,227,252,204,255,183,0,231,252,200,255,177,0,230,252,204,255,183,0,235,252,200,255,180,0,231,252,204,255,182,0,231,252,204,255,182,0,231,252,203,255,177,0,227,252,201,255,182,0,231,252,201,255,180,0,227,252,203,255,183,0,231,252,198,255,179,0,231,252,201,255,184,0,232,252,199,255,179,0,227,252,200,255,184,0,227,252,199,255,184,0,228,252,200,255,182,0,225,252,201,255,184,0,232,252,201,255,183,0,231,252,201,255,182,0,231,252,199,255,176,0,231,252,203,255,182,0,231,252,195,255,176,0,233,252,204,255,182,0,233,252,200,255,184,0,230,252,201,255,182,0,227,252,200,255,183,0,232,252,201,255,183,0,230,252,201,255,177,0,231,252,198,255,180,0,231,252,199,255,184,0,231,252,199,255,179,0,231,252,201,255,180,0,231,252,201,255,183,0,231,252,204,255,179,0,230,252,203,255,182,0,231,252,203,255,184,0,231,252,201,255,184,0,231,252,200,255,180,0,231,252,200,255,183,0,231,252,199,255,179,0,231,252,203,255,179,0,227,252,204,255,182,0,231,252,203,255,129,13,103,0]","payloadType":"bin","x":150,"y":640,"wires":[["8092dbfe.fde7f8"]]},{"id":"7554fdde.7995b4","type":"inject","z":"301437f3.4f6bb8","name":"Report - Temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[255,3,93,193,230,214,161,47,0,0,248,18]","payloadType":"bin","x":140,"y":720,"wires":[["8092dbfe.fde7f8"]]},{"id":"7d95ba03.ef8bf4","type":"inject","z":"301437f3.4f6bb8","name":"Hello Response","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,2,1,6,18,167,158,56,183,223,60,56,79,28,3,0,56,52,48,56,2,8,3,0,228,7,8,24,10,16,21,0,83,82,84,45,73,67,79,77,79,88,45,80,79,69,45,83,69,67,0,0,0,0,0,0,0,0,0,0,0,0,0,0,67,80,83,50,48,48,52,48,48,50,50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,105,67,79,77,79,88,32,80,111,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","payloadType":"bin","x":120,"y":420,"wires":[["8092dbfe.fde7f8"]]},{"id":"b3239742.4c9c98","type":"inject","z":"301437f3.4f6bb8","name":"GetConfig Response","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[2,64,0,6,0,1,31,0,63,5,0,0,0,0,0]","payloadType":"bin","x":130,"y":500,"wires":[["8092dbfe.fde7f8"]]},{"id":"8d61234b.30fdf","type":"inject","z":"301437f3.4f6bb8","name":"Reset Response","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1]","payloadType":"bin","x":120,"y":460,"wires":[["8092dbfe.fde7f8"]]},{"id":"e13d90e0.35364","type":"inject","z":"301437f3.4f6bb8","name":"SetConfig Response","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[3,0]","payloadType":"bin","x":130,"y":540,"wires":[["8092dbfe.fde7f8"]]},{"id":"b80d423c.dfc0c","type":"inject","z":"301437f3.4f6bb8","name":"SetConfig Response (NACK)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[3,1]","payloadType":"bin","x":160,"y":580,"wires":[["8092dbfe.fde7f8"]]},{"id":"65ea875a.d61ba8","type":"mqtt in","z":"301437f3.4f6bb8","name":"iCOMOX-MQTT-In","topic":"iCOMOX/+/IN","qos":"2","datatype":"auto","broker":"d06c3515.0071e8","x":130,"y":860,"wires":[["8092dbfe.fde7f8","c89e269f.8288c8"]]},{"id":"d9d1ca66.77f438","type":"mqtt out","z":"301437f3.4f6bb8","name":"iCOMOX-MQTT-Out","topic":"","qos":"","retain":"","broker":"d06c3515.0071e8","x":940,"y":180,"wires":[]},{"id":"396f7509.c2288a","type":"iCOMOX Parser","z":"301437f3.4f6bb8","name":"","x":660,"y":180,"wires":[["5cf937ce.30a548","d9d1ca66.77f438"]]},{"id":"cfeb102e.fe88a","type":"change","z":"301437f3.4f6bb8","name":"","rules":[{"t":"set","p":"DeviceID","pt":"msg","to":"iCOMOX-ID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["396f7509.c2288a"]]},{"id":"5cf937ce.30a548","type":"debug","z":"301437f3.4f6bb8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"c89e269f.8288c8","type":"debug","z":"301437f3.4f6bb8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":860,"wires":[]},{"id":"d06c3515.0071e8","type":"mqtt-broker","z":"","name":"LocalHost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]