Mindsphere/iCOMOX_MindConnect_one_device.json
[{"id":"58abd4a5.a91d4c","type":"tab","label":"Flow 1_working","disabled":false,"info":""},{"id":"644fc796.1ea428","type":"mindconnect","z":"58abd4a5.a91d4c","name":"","configtype":"SHARED_SECRET","agentconfig":"{  \"content\": {    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiI0ZDNlN2E4MWUwNmQ0NWJmYTM5YTIyNTgzNGNkYjU4ZCIsImF1ZCI6IkFJQU0iLCJpYXQiOjE1OTk2NDgwNDIsIm5iZiI6MTU5OTY0ODA0MiwiZXhwIjoxNjAwMjUyODQyLCJqdGkiOiI3ZjY1OTkzNS03NzQ1LTQxY2UtYTU3ZS0zN2YzOGRmOTFiYWUiLCJzY29wZSI6IklBVCIsInRlbiI6ImFycm93ZGUxIiwidGVuX2N0eCI6Im1haW4tdGVuYW50IiwiY2xpZW50X2NyZWRlbnRpYWxzX3Byb2ZpbGUiOlsiU0hBUkVEX1NFQ1JFVCJdLCJzY2hlbWFzIjpbInVybjpzaWVtZW5zOm1pbmRzcGhlcmU6djEiXX0.cmD03-f6A2K4scuWt-hMT3XqiJ1-kusTj4kl3e3UF-XJAhTXTqAG57qe85ANegpJamEC_jE5qPyovbQlrWndZHfZXJW8hHRKMTM5KH9PsUcEZQE2AhOTITvdzSrndTuLpEU6cILndtpOoQtkuK6LZM81kvNic8rzzaYZR3v7fSO-vg8Nd8P9vAjLNg7l5E8qT9TCYyvWuFqL-Ld9FWep-e7U6tkptlrXMArzma9jcOTrzEfQ6dtDvck6ZGtX6Qcg6sW015kyzeBXkAyjFgnIiy34LX1ZG_17H3utqMyOOObgQ25kxTFL7KgGL04huE74somxwe_mKAsSSe_OsUSXNQ\",    \"clientCredentialProfile\": [      \"SHARED_SECRET\"    ],    \"clientId\": \"4d3e7a81e06d45bfa39a225834cdb58d\",    \"tenant\": \"arrowde1\"  },  \"expiration\": \"2020-09-16T10:40:42.000Z\"}","privatekey":"-----BEGIN RSA PRIVATE KEY-----\nMIIG5AIBAAKCAYEAuZqKPVmzl8FI74lGslUfqHN6UaU/BpDs2P/FKXZ9D1ljoTCu\niAtsa8SH/J0dA2I6XuAsUvNJEqMIXuO/decajsHzgigt/Yaj7h/5Ki3Hxh6TCPcS\nmvP9HgIyyq5kthE4MVbl96WlqT4Na/ZKT2lyD4t9FilqdWZ66FdSawAc2diXZMUx\ngcq9qUi35MMi8wfDqHj3XExHslW59c0tS0r05ei3TDhqmQCV9ey39gfgfIl4OXd/\njPkQr6ZJmD+/AB7XfrvrL91GR9miF5KDAEM55srym3YIiGuc57l04nYTfw9SA5sm\n/Td9gErRZxCnD0eKZfdDx60KvoNBLeFtZGhQXBO7CsM3WXyvwCTCEbfmu8xju4dm\nWCwmh6SgtffUNbim2Xv3CZjfM6xRcCZOseojnI6/jb6uYN+7Rn3olEIZwlB4OgK+\niW2DQYnDv4xBpQZKYjODCgLh99HPjqNwLrVlZytSi9H5CJUNhdgWMqr6YfeMlVbZ\ne4tccYqVoqynGFr1AgMBAAECggGAf9dfgrSHjG644y0GAg25+ZhY12XfzJEEYs+B\nqXaQ24KxqjRS8ygTLQO4uxopAsyk8fas8RHb8jdTq7Bpjzd4xn33UV6FlwwnW/yv\n7gqMgP1MP6+XJB4M6Z+QBqUqf3HK58k4K2Twf2tbaVLCioJR6z0kEqDCUE0fOWv0\nO/le5fpXBTUCTaktDC4nZC24o/dkIGX505xDAiYkKZeCrErb9oRdxOVTH0IVCMhd\nSdzRFlbF9adGtv5TLPl31aOK1vVmQvLbdXu00EEQgMQ3lvcKbXsn067vUbEWIOBH\n5L/UOWalHIdGX676SBsaXAWn9o5JX4PzIcneGB66cwArFYfUCjc26UDPBVqTmGek\nlozB+Fr/ovqx3fOTxmnKPcKcGK8F5UyzM7m3A/rxJJ09CI9TxSbU71bm9DvP2/4T\nHnQ4WRkL0ptaaXYDwBKAzNWYU3EV7/Iva4L4F2KcTlPj5Esz9kRYSRW6NuRVk00F\nyTyDOY1bI84TuYm8IB14hBKZXGBBAoHBAN3e64kFfqq6rHfyWhPBarItwNm0Hz/P\nTTQ2KAuL+/eJT1yhKzJz6o2s2ZQ5kVLaLEOzPtJfXob8TuVaDIZypxNZEStzKkDV\nErrzZ0KRTbqfKIYOdx5rBGT3OrE9efqEjHkKfS4a30M/74th/zawXH55F1sdhJL7\nNMOM81w0TTNWlsXvpfjH7DsjMuHN3UMZUySXoYtrBncHFAZPHVbLYTABiIkakj1D\nXeSIeeLmmMXSYJpq1nhkUi6W3TivYcPUUQKBwQDWJ3PUDssojrRfYoBdpeMHX0lj\nq1WjXm9NCI+5eiq2prZ6Dx1dhOn80qlVp+JfG4c3cJirb+SWgJvJ9/d1qxDYGt4i\ne6ejmXViizJWx4BbdgmDUtqRVjBdRhhpaH2cmUFowmlP9Gt87POfCFfdSeSsNIHm\nVMtZ23N8agY5QRb8BhjCmI3my10zp51FzngFengq7udpRH/5kkomc08yIqtkSV5R\nvNr/Y2CWj5Go5f3MQXSWKubHKp1jYzA1KYaZZ2UCgcAFqs4FX/iOT9pb7frTClu5\nVWXZqboqnRbxwHhhYx/6gK1gRlWeIkvZdpLQMHA/14bN6+Qs53a4p/Uz8orjXEZc\nPigsHfL0WPzzfYgjsSZ1H9+fHPt58W3ZTl9Xa6ST+5LC/LuZ0+HkC9wIiWZFdVfH\nezxXfXeHcZc1b4I/1q4qI4oSYD6zDhhAonOIRQPj1N/EzYK41vEBVVLznk23i9Zd\nrYxZRC58Fh5t2faTDyTT2L3S8+uqg5V9zyiza/dpUyECgcEAs+im/SKEeAkS7QMi\nVgozpRDe5bWdl0aReITVwXspgRKjP/2MrPEpZbVQft4wZbgJq4CTMYsp3Woj9tOz\nd44D85j2vr9lQSJ9pBDOdGrboXqTWVj0t55RuTpW7c7ToAh8E9cng/0Rg/zIWfU3\nY3ddfXILIwZfY5jh90ZW/ih5d7ZjfK+OnrKAFRIeJPPkjq2pYGAd1qiuXmsQkibT\nBIpttC2S6FYhIOZK0ZHBS8QTqFHg8PsPr4hUepdse2zsX9mlAoHBAI5/+pLe7TOS\nOaBBte1lG8jR4/Fp7C9WNcXZ9kzpSB2R+VMwrIbtrNOmZDnz4+Gdd9Ej8tpQbAXL\n1C6rL+HUB7Tcy1qsd+7qv8qDzrXBDhQp6l66+1fPEjEo5D+LE9feKVVpkptdOuob\nyPSdrn4iBDgTtz6JKCPO6OHHU9m8cYUBTesIZxNqY4SNMdM6gxjP1x0DQIMvC3oY\nGXEca/9oO/j7tKBMYAPvYopE/icJrguMae4tdwIID1x0Y1k6Qv5qrA==\n-----END RSA PRIVATE KEY-----","model":"","validate":true,"validateevent":true,"chunk":true,"disablekeepalive":false,"retry":"3","parallel":"4","asyncduration":"10","x":1630,"y":240,"wires":[["dbaae238.388dc"]]},{"id":"999b8471.5499c8","type":"debug","z":"58abd4a5.a91d4c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":900,"wires":[]},{"id":"f0f75191.a2888","type":"mqtt in","z":"58abd4a5.a91d4c","name":"iCOMOX-MQTT-In","topic":"iCOMOX/+/IN","qos":"2","datatype":"auto","broker":"d06c3515.0071e8","x":110,"y":220,"wires":[["ec155cc6.23185"]]},{"id":"f96ea64a.957778","type":"function","z":"58abd4a5.a91d4c","name":"iCOMOX Control","func":"\nvar topic = msg.topic.replace(\"/IN\", \"/OUT\");\n\n//Check message\nswitch(msg.payload[\"Type\"]){\n    case \"Hello\": //Start iCOMOX on hello message\n        msg = {\"payload\":{\"Type\":\"SetConfig\", \"Data\":{\"Enable\":true,\"Temp\":true,\"ACC1\":true,\"ACC2\":true,\"MAG\":true,\"MIC\":true,\"Interval\":1, \"Repetition\":0}}};\n        break;\n    case \"SetConfig\": //Get configuration on SetConfig ack message\n        msg = {\"payload\":{\"Type\":\"GetConfig\"}};\n        break;\n    \n    default:\n        return null;\n}\n        \nmsg[\"topic\"] = topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":600,"wires":[["bd81f5ae.b6e1c8"]]},{"id":"b0d4e172.e94fd","type":"debug","z":"58abd4a5.a91d4c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]},{"id":"ec155cc6.23185","type":"function","z":"58abd4a5.a91d4c","name":"iCoMoX Parser bin to obj","func":"\nvar iCOMOXParser = global.get('iCOMOX');\nif (iCOMOXParser  == null)\n    return [null];\n\nvar iCOMOXParsedMsg = iCOMOXParser.objectGet(msg.payload );    \nif (iCOMOXParsedMsg == null)\n    return [null];\n\nmsg.payload = iCOMOXParsedMsg;\n\n//Send without cloning\nnode.send(msg,false);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["b0d4e172.e94fd","beeeebd9.e77178"]]},{"id":"15c7158d.12d1ca","type":"function","z":"58abd4a5.a91d4c","name":"Stringify obj","func":"console.log(\"JSON:\" +JSON.stringify(msg));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":680,"wires":[[]]},{"id":"5cbebf4f.dca7c","type":"comment","z":"58abd4a5.a91d4c","name":"iCOMOX to Cloud","info":"","x":120,"y":160,"wires":[]},{"id":"cd9b9222.60622","type":"function","z":"58abd4a5.a91d4c","name":"iCoMox Parser def","func":"","outputs":1,"noerr":0,"initialize":"/*\nThe iCOMOX parser object.\nThis parser can be used to parse binary messages received from the iCOMOX and to build binary messages which can be sent to the iCOMOX.\nIt does not store any information and can be instantiated once and reused\n\nTo create an instance of the class:\nNodeJS:\nvar iCOMOXParser = require('./iCOMOXParser.js');  //Require file in project\nvar parser = new iCOMOXParser();\t\t\t\t//Instantiate the class\n\n\nNodeRed:\nImport the iCOMOXParser.json flow, the node creates an instance of the parser as the global variable \"iCOMOX\" and can be accessed using:\nvar iCOMOXParser = global.get('iCOMOX');\n\nTo create manually, copy the code and set as a global variable:\nglobal.set('iCOMOX', new parser());\n\nTo parse an incoming binary message from the iCOMOX to a JSON object:\nvar obj = parser.objectGet(bin);  //Conversion of binary to object  Example - bin is a buffer\n\n\nTo build a binary message from a JSON use:\nvar bin = parser.binaryMsgGet(obj);  //Conversion of a json object to binary buffer\n\nobj structure:\n{\n\t\"Type\": text, can be  \"Hello\"/\"Reset\"/\"GetConfig\"/\"SetConfig\"/\"Report\"\n\t\"Data\": Message data, according to message type, information in examples\n}\t\n\n*/\n\nvar parser = function iCOMOXParser(binaryData) {\n\tthis.VERSION = \"0.0.3\";\n\t\n\tconst BOARD_TYPE = [\"SMIP\",\"NB_IOT\",\"POE\"];\n\tconst FW_BRANCH = [\"Kit\",\"Suitcase\"];\n\tconst COMM_CHANNEL = [\"USB\",\"Aux\"];\n\tconst MODULE = [\"RawData\",\"Anomaly\"];\n\tconst RESET_TYPE = [\"SW\",\"HW\", \"FWUpdate\"];\n\n\t//Utility functions\n\tvar twoDigStr =  function(num){\n\t\treturn ('0' + (num).toString(10)).slice(-2);\n\t}\n\tvar toHexStr =  function(num){\n\t\treturn ('0' + (num).toString(16)).slice(-2);\n\t}\n\t\n\t//Message parsers - Hello\n\t// Hello request\n\tvar helloMessageBinGet = function() {\n\t\treturn new Buffer.alloc(1);\n\t}\n\t\n\t//Hello response\n\tvar helloMessageObjGet = function(binaryData) {\n\t\tvar res = {};\n\t\tif ((binaryData[1] >= BOARD_TYPE.length) || (binaryData[23] >= FW_BRANCH.length))\n\t\t\treturn null;\n\t\t\n\t\tif (binaryData.length < 128)\n\t\t\treturn null;\n\t\t\n\t\tres[\"BoardType\"] = BOARD_TYPE[binaryData[1]];\n\t\tres[\"BoardVer\"] = binaryData[2] + \".\" + binaryData[3];\n\t\tres[\"MCUSerial\"]=\"\";\n\t\tfor (var i=0; i< 16; i++)\n\t\t\tres[\"MCUSerial\"]+= toHexStr(binaryData[4+i]);   \n\t\tres[\"FwVer\"] = binaryData[20] + \".\" + binaryData[21] + \".\" + binaryData[22] + FW_BRANCH[binaryData[23]];\n\t\tres[\"FwBuild\"] = \tbinaryData[27] + \".\"  + binaryData[26] + \".\" + binaryData.readInt16LE(24)  +   \" \" + binaryData[28] + \":\" + twoDigStr(binaryData[29]) + \":\" + twoDigStr(binaryData[30]);\n\t\tres[\"BitStatus\"] = \"0x\" + toHexStr(binaryData[31]);\n\t\tres[\"PartNum\"] = binaryData.slice(32,32+32).toString().replace(/\\0[\\s\\S]*$/g,'');\n\t\tres[\"Serial\"] = binaryData.slice(64,64+32).toString().replace(/\\0[\\s\\S]*$/g,'');\n\t\tres[\"Name\"] = binaryData.slice(96,96+32).toString().replace(/\\0[\\s\\S]*$/g,'');\n\t\t\n\t\treturn res;\n\t}\n\t\n\t\n\t//Message parsers - Reset\n\t//Reset request\n\tvar resetMessageBinGet = function(obj) {\n\t\tif (!obj)\n\t\t\treturn null;\n\t\tres = new Buffer.alloc(2);\n\t\t\n\t\tfor (var i=0; i < RESET_TYPE.length;  i++){\n\t\t\tif (obj[\"ResetType\"] == RESET_TYPE[i])\n\t\t\t\tres[1]=i;\n\t\t}\n\t\treturn res;\n\t}\n\t//Reset response\n\tvar resetMessageObjGet = function(binaryData) {\n\t\tif (binaryData.length != 1)\n\t\t\treturn null;\n\t\treturn {\"Ack\":true};\n\t}\n\t\n\t//Message parsers - Reports\n\tvar timestampGet = function(binaryData) {\n\t\tif (binaryData.length < 10)\n\t\t\treturn null;\t\t\n\t\t\n\t\treturn new Date((Number(binaryData.readBigInt64LE(2) ) /32768) * 1000);\n\t\t\n\t}\n\tvar reportMessageObjGet = function(binaryData) {\n\t\tvar res = {};\n\t\t\n\t\tif (binaryData[1] >= REPORT_TYPE.length)\n\t\t\treturn null;\n\t\tres.ReportType = REPORT_TYPE[binaryData[1]].name;\n\t\tres[res.ReportType] = REPORT_TYPE[binaryData[1]].func(binaryData);\n\t\tif (res[res.ReportType] == null)\n\t\t\treturn null;\n\t\tres[\"Timestamp\"] = timestampGet(binaryData);\n\t\t\n\t\treturn res;\n\t}\n\t\n\t\n\t\n\t\n\t\n\t//Reports - Accelerometer 1\t\n\tvar accelerometer1ObjGet = function(binaryData) {\n\t\t//Number of samples per axis\n\t\tvar len = \t(binaryData.length - 10) / (3*2);\t\n\t\tvar res = {X:new Float32Array(len),Y:new Float32Array(len),Z:new Float32Array(len)};\n\t\t\n\t\t \n\t\tfor (var i=0; i < len; i++){\n\t\t\tres.X[i] = binaryData.readInt16LE(10 + i*6) / 1024;\n\t\t\tres.Y[i] = binaryData.readInt16LE(12 + i*6) / 1024;\n\t\t\tres.Z[i] = binaryData.readInt16LE(14 + i*6) / 1024;\n\t\t}\n\t\t\n\t\t\n\t\treturn res;\t\t\n\t}\n\t\n\t\n\t//Reports - Accelerometer 2\t\n\tvar accelerometer2ObjGet = function(binaryData) {\n\t\t//Total number of samples\n\t\tvar len = \tMath.floor(2 * (binaryData.length - 10) / 3);\t\n\t\tvar tempArr = [new Float32Array(len / 3),new Float32Array(len / 3),new Float32Array(len / 3)];\n\t\t\n\t\tvar payloadIndex = 10;\n\t\tfor (var i=0; i < len ; i = i+2){\n\t\t\t//Get Raw data\n\t\t\ttempArr[i  % 3][Math.floor(i / 3)] = ((binaryData[payloadIndex + 1] & 0x0F) << 8) | binaryData[payloadIndex];          \n\t\t\ttempArr[(i + 1) % 3][ Math.floor((i+1) / 3)] =  (binaryData[payloadIndex + 2] << 4) | (binaryData[payloadIndex + 1] >> 4 )\n\t\t\tpayloadIndex = payloadIndex + 3;\n\t\t}\n\t\t\n\t\t//Convert to a/g\t\t\n\t\tfor (var j=0; j < tempArr.length ; j++){\n\t\t\tfor (var i=0; i < tempArr[0].length ; i++){\n\t\t\t\ttempArr[j][i] = (tempArr[j][i] - 2048) * 1.8  / (4096 * 0.08) ;\t\t\t\n\t\t\t}\n\t\t}\n\t\t\n\t\t\n\t\treturn {X:tempArr[0], Y:tempArr[1], Z:tempArr[2]};\n\t}\n\t\n\t//Reports - Magnetometer\n\tvar magnetometerObjGet = function(binaryData) {\n\t\tvar len = \tMath.floor( (binaryData.length - 10) / 2);\t\t\t\n\t\tvar tempArr = [new Int32Array(len / 3),new Int32Array(len / 3),new Int32Array(len / 3)];\n\t\t\n\t\tfor (var i=0; i < len  ; i++){\n\t\t\ttempArr[i  % 3][Math.floor(i / 3)] = 1000* binaryData.readInt16LE(10 + i*2) / 16;\t\t\t\t\t\t\n\t\t}\n\t\t\n\t\t\n\t\treturn {X:tempArr[0], Y:tempArr[1], Z:tempArr[2]};\n\t}\n\t\n\t\n\t//Reports - Temperature\n\tvar temperatureObjGet = function(binaryData) {\n\t\treturn binaryData.readInt16LE(10)/128;\n\t}\t\n\t\n\t//Reports - MIC\n\tvar micObjGet = function(binaryData) {\n\t\tvar len = \tMath.floor( (binaryData.length - 10) / 2);\t\t\t\n\t\tvar res =  new Float32Array(len);\n\t\t\n\t\tfor (var i=0; i < len  ; i++){\n\t\t\tres[i] = binaryData.readInt16LE(10 + i*2) * Math.pow(10, (130/20))/32768;\t\t\t\t\t\t\n\t\t}\n\t\t\n\t\t\n\t\treturn res;\n\t}\n\t\n\t\n\t//Message parsers - Set config\n\t\n\t//Set config (Ack)\n\tvar setConfigObjGet = function(binaryData) {\t\n\t\t//ACK\t\n\t\tif ((!binaryData) || (binaryData.length != 2))\n\t\t\treturn null;\n\t\tres[\"Ack\"] = true;\n\t\tres[\"Result\"] = binaryData[1];\n\t\tif (binaryData[1] != 0)\n\t\t\tres[\"Error\"] = true;\n\t\treturn res;\t\t\n\t}\n\t//Set config To binary - Example obj = {\"Enable\":false,\"Temp\":false,\"ACC1\":false,\"ACC2\":false,\"MAG\":false,\"MIC\":false,\"Interval\":5, \"Repetition\":0}\n\tvar setConfigBinGet = function(obj) {\n\t\tif (!obj)\n\t\t\treturn null;\n\t\tvar res = new Buffer.alloc(24);\n\t\tres[1] = 0x4 | 0x2; //Bitmask - Set activation period and common\n\t\tres[2] = 0x1; //Raw data\n\t\tres[3] = 0x40 | 0x1;//Common (Aux channel) and transmit on\t\t\n\t\tres.writeUInt16LE(obj[\"Interval\"] != undefined?obj[\"Interval\"]:1, 12); //Interval in minutes\n\t\tres[14] = obj[\"Repetition\"] != undefined?obj[\"Repetition\"]:0; //Transmit repitition (1+Value) - default:0\t\t\n\t\tres[15] = (obj[\"Enable\"] == true)?0x1:0;//Active modules - Raw data\n\t\t\n\t\tres[16] = 0;\n\t\tfor (var i=0; i<REPORT_TYPE.length;i++){\n\t\t\tif (obj[REPORT_TYPE[i].name] == true){\n\t\t\t\tres[16] |= (1 << i);\n\t\t\t}\n\t\t}\t\t\n\t\t\n\t\treturn res;\n\t}\n\t\n\t//Message parsers - Get config\n\t\n\t//Get config - request\n\tvar getConfigBinGet = function() {\n\t\treturn new Buffer.alloc(1);\n\t}\n\tvar getConfigObjGet = function(binaryData) {\n\t\tres = {};\n\t\t\n\t\t//ACK\n\t\tif (binaryData.length < 7)\n\t\t\treturn null;\n\t\t\n\t\tres[\"CommChannel\"] = COMM_CHANNEL[binaryData[1] & (1 << 0)];\n\t\tres[\"Vibrator\"] = ((binaryData[1] >> 2) & 0x1) == 1;\n\t\tres[\"Transmit\"] = ((binaryData[1] >> 6) & 0x1) == 1;\n\t\tres[\"Save\"] = ((binaryData[1] >> 7) & 0x1) == 1;\n\t\tres[\"Repetition\"] = binaryData[2];\n\t\tres[\"Interval\"] = binaryData.readUInt16LE(3);\n\t\tres[\"Enable\"] = ((binaryData[5] & 0x1) != 0);\n\t\tfor (var i=0; i<REPORT_TYPE.length;i++){\n\t\t\tres[REPORT_TYPE[i].name] = (((binaryData[6] >> i) & 0x1) == 1);\n\t\t}\n\t\t\n\t\treturn res;\n\t}\n\t\n\t\n\t//Parsing map\n\tconst MESSAGE_TYPE = {\n\t  HELLO:\t {code:0x00, name:\"Hello\",  \ttoObjFunc:helloMessageObjGet, toBinFunc:helloMessageBinGet },\n\t  RESET:\t {code:0x01, name:\"Reset\",  \ttoObjFunc:resetMessageObjGet, toBinFunc:resetMessageBinGet },\n\t  GET_CONFIG:{code:0x02, name:\"GetConfig\",  toObjFunc:getConfigObjGet, toBinFunc:getConfigBinGet  },\n\t  SET_CONFIG:{code:0x03, name:\"SetConfig\",  toObjFunc:setConfigObjGet, toBinFunc:setConfigBinGet },\n\t  REPORT:\t {code:0xFF, name:\"Report\",  \ttoObjFunc:reportMessageObjGet}\n\t  \n\t};\n\n\tconst REPORT_TYPE = [\n\t\t{name:\"ACC1\", \tfunc:accelerometer1ObjGet} ,\t//AXL362\n\t\t{name:\"ACC2\", \tfunc:accelerometer2ObjGet} , \t//ADXL362\n\t\t{name:\"MAG\", \tfunc:magnetometerObjGet} ,\t//BMM150\t\n\t\t{name:\"Temp\", \tfunc:temperatureObjGet} ,\t\t//ADT7410\n\t\t{name:\"MIC\", \tfunc:micObjGet} ,\t\t\t\t//IM69D130\n\t];\n\t\n\t\n\t//Get parsed object\n\tthis.objectGet = function(binaryData) {\n\t\tvar res;\n\t\t\n\t\tif ((Buffer.isBuffer(binaryData) == false) || (binaryData.length < 1))\n\t\t\treturn null;\n\t\tvar msgType;\n\t\tswitch (binaryData[0]){ //Message type\n\t\t\tcase MESSAGE_TYPE.HELLO.code:\n\t\t\t\tmsgType = MESSAGE_TYPE.HELLO;\n\t\t\t\tbreak;\n\t\t\tcase MESSAGE_TYPE.RESET.code:\n\t\t\t\tmsgType = MESSAGE_TYPE.RESET;\t\t\t\t\n\t\t\t\tbreak;\n\t\t\tcase MESSAGE_TYPE.GET_CONFIG.code:\n\t\t\t\tmsgType = MESSAGE_TYPE.GET_CONFIG;\t\t\t\t\n\t\t\t\tbreak;\n\t\t\tcase MESSAGE_TYPE.SET_CONFIG.code:\n\t\t\t\tmsgType = MESSAGE_TYPE.SET_CONFIG;\t\t\t\t\n\t\t\t\tbreak;\n\t\t\tcase MESSAGE_TYPE.REPORT.code:\n\t\t\t\tmsgType = MESSAGE_TYPE.REPORT;\n\t\t\t\tbreak;\n\t\t\tdefault:\n\t\t\t\treturn null;\n\t\t}\n\t\ttry{\n\t\t\tres = msgType.toObjFunc(binaryData);\n\t\t}\n\t\tcatch{\n\t\t\tconsole.error(\"Error:Malformed Message\");\n\t\t\treturn null;\n\t\t}\n\t\t\n\t\tif (res == null)\n\t\t\treturn null;\n\t\treturn {\"Type\": msgType.name, \"Data\":res};\n\t}\n\t\n\t//Get parsed object\n\tthis.binaryMsgGet = function(obj) {\n\t\tvar msgType;\n\t\t\n\t\tif ((!obj) || (!obj.Type))\n\t\t\treturn null;\n\t\t\n\t\tswitch (obj.Type){\n\t\t\tcase MESSAGE_TYPE.HELLO.name:\n\t\t\t\tmsgType = MESSAGE_TYPE.HELLO;\n\t\t\t\tbreak;\n\t\t\tcase MESSAGE_TYPE.RESET.name:\n\t\t\t\tmsgType = MESSAGE_TYPE.RESET;\t\t\t\t\n\t\t\t\tbreak;\n\t\t\tcase MESSAGE_TYPE.GET_CONFIG.name:\n\t\t\t\tmsgType = MESSAGE_TYPE.GET_CONFIG;\t\t\t\t\n\t\t\t\tbreak;\n\t\t\tcase MESSAGE_TYPE.SET_CONFIG.name:\n\t\t\t\tmsgType = MESSAGE_TYPE.SET_CONFIG;\t\t\t\t\n\t\t\t\tbreak;\n\t\t\tdefault:\n\t\t\t\treturn null;\t\t\n\t\t}\n\t\t\n\t\tres = msgType.toBinFunc(obj.Data);\t\t\n\t\tif (res == null)\n\t\t\treturn null;\n\t\t\n\t\tres[0] = msgType.code;\n\t\treturn res;\t\t\n\t}\t\n\t\n\t\n};\n\n\n\n\n\nglobal.set('iCOMOX', new parser());\nconsole.log(\"iCOMOX parser registered version:\" + global.get('iCOMOX').VERSION);","finalize":"","x":110,"y":60,"wires":[[]],"info":"Defined the iCoMoX Object, for parser nodes instances"},{"id":"bd81f5ae.b6e1c8","type":"function","z":"58abd4a5.a91d4c","name":"iCoMoX Parser obj to bin","func":"\nvar iCOMOXParser = global.get('iCOMOX');\nif (iCOMOXParser  == null)\n    return [null];\n\nvar iCOMOXParsedMsg = iCOMOXParser.binaryMsgGet(msg.payload );    \nif (iCOMOXParsedMsg == null)\n    return [null];\n\nmsg = {payload:iCOMOXParsedMsg, topic:msg.topic};\n\n//Send without cloning\nnode.send(msg, false);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":600,"wires":[["a10105a2.95b308","15c7158d.12d1ca"]]},{"id":"a10105a2.95b308","type":"mqtt out","z":"58abd4a5.a91d4c","name":"iCOMOX-MQTT-Out","topic":"","qos":"","retain":"","broker":"d06c3515.0071e8","x":720,"y":600,"wires":[]},{"id":"91abae7a.0af6e","type":"comment","z":"58abd4a5.a91d4c","name":"Required definitions","info":"","x":110,"y":20,"wires":[]},{"id":"beeeebd9.e77178","type":"switch","z":"58abd4a5.a91d4c","name":"Message Type","property":"payload[\"Type\"]","propertyType":"msg","rules":[{"t":"eq","v":"Hello","vt":"str"},{"t":"eq","v":"Reset","vt":"str"},{"t":"eq","v":"GetConfig","vt":"str"},{"t":"eq","v":"SetConfig","vt":"str"},{"t":"eq","v":"Report","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":640,"y":220,"wires":[["f96ea64a.957778"],["f96ea64a.957778"],["f96ea64a.957778"],["f96ea64a.957778"],["154f0953.365897"]],"inputLabels":["iCOMOX JSON in"],"outputLabels":["Hello","Reset","GetConfig","SetConfig","Report"]},{"id":"ec224922.c95f58","type":"function","z":"58abd4a5.a91d4c","name":"iCOMOX MindSphere Report Reformatter","func":"\n//Table for ID conversion\nvar convTable = context.get('MindSphereConversion');\n\nvar meas = msg.payload.measurements;\n\n\nvar values = [];\n\n//Convert all keys\nfor(var key in meas){\n  values.push({ dataPointId: convTable[key], qualityCode: \"1\", value: meas[key].toString() });\n}\n\nreturn {\"payload\":values};\n","outputs":1,"noerr":0,"initialize":"\ncontext.set('MindSphereConversion', {\n        \"Temp\":\"1599643644593\",\n        \"MicMax\":\"1599643644594\",\n        \"MicMin\":\"1599643644597\",\n        \"MicAvg\":\"1599643644600\",\n        \"Acc1XMax\":\"1599643644603\",\n        \"Acc1YMax\":\"1599643644604\",\n        \"Acc1ZMax\":\"1599643644605\",\n        \"Acc1XMin\":\"1599643644606\",\n        \"Acc1YMin\":\"1599643644607\",\n        \"Acc1ZMin\":\"1599643644608\",\n        \"Acc1XAvg\":\"1599643644609\",\n        \"Acc1YAvg\":\"1599643644610\",\n        \"Acc1ZAvg\":\"1599643644611\",\n        \"Acc2XMax\":\"1599643644612\",\n        \"Acc2YMax\":\"1599643644613\",\n        \"Acc2ZMax\":\"1599643644614\",\n        \"Acc2XMin\":\"1599643644615\",\n        \"Acc2YMin\":\"1599643644616\",\n        \"Acc2ZMin\":\"1599643644617\",\n        \"Acc2XAvg\":\"1599643644618\",\n        \"Acc2YAvg\":\"1599643644619\",\n        \"Acc2ZAvg\":\"1599643644620\",\n        \"MagXMax\":\"1599643644621\",\n        \"MagYMax\":\"1599643644622\",\n        \"MagZMax\":\"1599643644623\",\n        \"MagXMin\":\"1599643644624\",\n        \"MagYMin\":\"1599643644625\",\n        \"MagZMin\":\"1599643644626\",\n        \"MagXAvg\":\"1599643644627\",\n        \"MagYAvg\":\"1599643644628\",\n        \"MagZAvg\":\"1599643644629\",\n    }\n);","finalize":"","x":1300,"y":240,"wires":[["dbaae238.388dc","644fc796.1ea428"]]},{"id":"dbaae238.388dc","type":"debug","z":"58abd4a5.a91d4c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":100,"wires":[]},{"id":"154f0953.365897","type":"function","z":"58abd4a5.a91d4c","name":"iCOMOX  Report Statistics Reformatter","func":"//Reports only\nif (msg.payload[\"Type\"] != \"Report\")\n    return null;\n\n\n//Function to return max,min and average of array\nvar arrCalc = context.get('ArrCalc');\n\n//Save payload\nvar payload = msg.payload;\n\n//New payload structure for IoTCentral\nmsg.payload =  {\n    \"deviceId\":msg.topic.split('/')[1] ,\n    \"measurements\":{}\n};\n\n//Check message\n//Message data\nvar data = payload[\"Data\"][payload[\"Data\"][\"ReportType\"]];\nvar res;\n\nswitch (payload[\"Data\"][\"ReportType\"]){\n    case \"Temp\":\n        msg.payload.measurements[\"Temp\"] = data;\n        break;\n    case \"ACC1\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"Acc1XMax\":res.X.max, \"Acc1XMin\":res.X.min, \"Acc1XAvg\":res.X.avg,\n            \"Acc1YMax\":res.Y.max, \"Acc1YMin\":res.Y.min, \"Acc1YAvg\":res.Y.avg,\n            \"Acc1ZMax\":res.Z.max, \"Acc1ZMin\":res.Z.min, \"Acc1ZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"ACC2\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"Acc2XMax\":res.X.max, \"Acc2XMin\":res.X.min, \"Acc2XAvg\":res.X.avg,\n            \"Acc2YMax\":res.Y.max, \"Acc2YMin\":res.Y.min, \"Acc2YAvg\":res.Y.avg,\n            \"Acc2ZMax\":res.Z.max, \"Acc2ZMin\":res.Z.min, \"Acc2ZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"MAG\":\n        res  = {X:arrCalc(data.X),Y:arrCalc(data.Y),Z:arrCalc(data.Z)};\n        msg.payload.measurements = {\n            \"MagXMax\":res.X.max, \"MagXMin\":res.X.min, \"MagXAvg\":res.X.avg,\n            \"MagYMax\":res.Y.max, \"MagYMin\":res.Y.min, \"MagYAvg\":res.Y.avg,\n            \"MagZMax\":res.Z.max, \"MagZMin\":res.Z.min, \"MagZAvg\":res.Z.avg\n        };\n        break;\n    \n    case \"MIC\":\n        res = arrCalc(data);\n        msg.payload.measurements = { \"MicMax\":res.max, \"MicMin\":res.min, \"MicAvg\":res.avg};\n        break;\n    default:\n        return null;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('ArrCalc', function (arr){\n    var sum = arr[0], res = {max :arr[0],min:arr[0] };\n    \n    for (var i=1; i < arr.length ; i++){\n        sum+=arr[i];\n        res.min = Math.min(res.min, arr[i]);\n        res.max = Math.max(res.max, arr[i]);\n    }\n    res.avg = sum / arr.length;\n    \n    return res;\n}\n);\n\n","finalize":"","x":950,"y":240,"wires":[["ec224922.c95f58","dbaae238.388dc"]]},{"id":"d06c3515.0071e8","type":"mqtt-broker","z":"","name":"LocalHost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]